.static-page__subtitle--sinai {
  margin-bottom: 1.25rem;
  font-weight: $font-bold;
}

.static-page__text--sinai {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.static-page__list--sinai {
  margin-bottom: 1rem;
  padding-left: 24px;
  font-size: $text-18;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

.static-page__block--sinai {
  @media (max-width: 767px) {
    &:nth-child(even) {
      margin-top: 1.5rem;
    }
  }
}
