.si-inner-container {
  @media (min-width: 800px) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 992px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.si-intro-container {
  margin-bottom: 2rem;

  @media (min-width: 992px) {
    order: 2;
    flex-basis: 25%;
  }
}

.si-intro {
  font-size: $text-16;
  line-height: 1.75;
  letter-spacing: 0.5px;

  @media (min-width: 992px) {
    padding-top: 3.75rem;
  }
}

.si-grid-container {
  @media (min-width: 992px) {
    order: 1;
    flex-basis: 70%;
  }
}

.si-grid-wrapper {
  @media (min-width: 600px) {
    height: 100%;
    min-height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.25rem;
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.si-grid-item {
  position: relative;
  margin-bottom: 1.25rem;

  @media (min-width: 600px) {
    grid-row: span 2;
    margin-bottom: 0;
  }

  @media (min-width: 800px) {
    margin-bottom: 0;

    grid-row: span 4;

    &:nth-child(2),
    &:nth-child(6) {
      grid-row: span 6;
    }
  }
}

.si-grid-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.grid-item__title-wrapper {
  background: $black;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  padding: 1rem 0;
  border-radius: 0 0 8px 8px;

  @media (min-width: 800px) {
    padding: 0.75rem 0;
  }

  @media (min-width: 992px) {
    padding: 0.65rem 0;
  }
}

.grid-item__title {
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-size: $text-18;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

.homepage__subtitle--sinai {
  font-size: $text-20;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  padding-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: 800px) {
    font-size: $text-24;
  }
}

// @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,600&display=swap');

// .homepage__subtitle--sinai,
// .grid-title--sinai {
//   font-family: 'Cormorant Garamond', serif;
// }

// .homepage__subtitle--sinai {
//   padding-bottom: 2rem;
//   font-weight: inherit;
//   text-transform: uppercase;
//   letter-spacing: 1px;
// }

// .lead__row--sinai {
//   padding-right: 0;
//   padding-left: 0;
// }

// .lead__text--homepage--sinai {
//   @extend .lead__text--homepage;

//   font-size: $text-20;

//   @media (max-width: 575px) {
//     font-size: $text-18;
//   }
// }

// .homepage-grid--sinai {
//   @extend .col-12;
// }

// .grid__img-wrapper--sinai {
//   @extend .col-md-7;

//   height: 580px;
//   max-height: 580px;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   transition: transform 0.7s;
//   background-image: image-url('sinai/inner-hmpg-grid-lg-arb0151_0059_f_029r.jpg');

//   &:hover {
//     transform: scale(1.01);
//   }
// }

// .grid__content-wrapper--sinai {
//   @extend .col-md-5;

//   display: flex;
//   align-items: flex-start;
//   justify-content: center;
//   padding-left: 3rem;
//   flex-direction: column;

//   @media (min-width: 768px) {
//     padding-top: 0;
//   }

//   @media (max-width: 767px) {
//     padding-top: 2rem;
//     padding-left: 0;
//   }
// }

// .grid-title--sinai {
//   font-size: $text-28;
//   font-weight: $font-bold;
// }

// .grid-title--sinai-list {
//   padding-top: 1.75rem;
// }

// .grid-text--sinai {
//   padding-top: 1.75rem;
//   font-size: $text-18;
//   font-weight: $font-light;
// }

// .grid-link--sinai {
//   position: relative;
//   margin-top: 1rem;
//   width: max-content;
//   font-size: $text-14;
//   font-weight: $font-bold;
//   letter-spacing: 2px;
//   text-transform: uppercase;
//   color: $sinai-primary;

//   &:active,
//   &:visited,
//   &:hover {
//     color: $sinai-primary;
//   }

//   &:hover {
//     text-decoration: none;
//   }

//   &::after {
//     position: absolute;
//     bottom: -0.5rem;
//     right: 100%;
//     left: 0;
//     -webkit-transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
//     transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
//     content: ' ';
//     border-bottom: 0.25rem solid $sinai-primary;
//   }

//   &:hover::after {
//     right: 0%;
//   }
// }
