.item-page__primary-metadata--sinai {
  order: 1;
}

.item-page__secondary-metadata--sinai {
  @extend .col-lg-5;

  background-color: $white;
  order: 3;
}

.item-page__metadata-wrapper::before {
  order: 2;
  content: '';
  border-right: 2px solid $sinai-secondary;
}

.item-page__pagination-widgets--sinai {
  .previous {
    color: $sinai-primary;

    &:hover {
      color: $gray-80;
    }

    &:not(a) {
      color: $gray-60;
    }
  }

  .next {
    color: $sinai-primary;

    &:hover {
      color: $gray-80;
    }
  }
}

.item-page__metadata-wrapper--sinai {
  margin-left: -20px;
}

.item-page__metadata-wrapper-results--sinai {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.container-constrained__item-page--sinai {
  margin-top: 1rem;
}

// SHELFMARK - Once the tabs are included on the item page, delete this
/* .title-row-show--siani {
  margin-top: 15px;
  margin-left: 12px;
  font-size: $text-24;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: $text-20;
  }
} */

// SHELFMARK - Once the tabs are included on the item page, uncomment this
.title-row-show--siani {
  font-size: $text-20;
  font-weight: 500;
  margin-left: 12px;
  margin-top: 15px;

  @media (max-width: 767px) {
    font-size: $text-18;
  }
}
.secondary-metadata_container--sinai {
  margin-top: 2rem;
}
@media (max-width: 900px) {
  .item-page__secondary-metadata--sinai {
    margin-top: 2em;
  }
}
