.sinai-homepage-inner-container {
  @media (min-width: 800px) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 992px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.lead-container--sinai {
  margin-bottom: 2rem;

  @media (min-width: 992px) {
    order: 2;
    flex-basis: 25%;
  }

  hr {
    margin-top: 2rem;
    width: 120px;
    border-width: 10px;
    border-color: $sinai-primary;
  }
}

.lead__text--homepage--sinai {
  font-size: $text-20;
  font-family: 'Dosis', sans-serif;
  line-height: 1.75;
  letter-spacing: 0.5px;

  @media (min-width: 992px) {
    padding-top: 3.75rem;
  }

  @media (max-width: 500px) {
    font-size: $text-16;
  }
}

.homepage-grid-container--sinai {
  @media (min-width: 992px) {
    order: 1;
    flex-basis: 70%;
  }
}

.homepage-grid--sinai {
  @media (min-width: 600px) {
    display: grid;
    height: 100%;
    min-height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.75rem;
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-item--sinai {
  position: relative;
  display: block;
  margin-bottom: 1.25rem;

  &:hover {
    transition: transform 0.7s;
    transform: scale(1.01);
  }

  @media (min-width: 600px) {
    margin-bottom: 0;
    grid-row: span 2;
  }

  @media (min-width: 800px) {
    margin-bottom: 0;
    grid-row: span 4;

    &:nth-child(2),
    &:nth-child(6) {
      grid-row: span 6;
    }
  }
}

.grid-image--sinai {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.grid-item__title-wrapper--sinai {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  width: 100%;
  background: $black;
  border-radius: 0 0 8px 8px;
  opacity: 0.8;

  @media (min-width: 800px) {
    padding: 0.75rem 0;
  }

  @media (min-width: 992px) {
    padding: 0.65rem 0;
  }
}

.grid-item__title--sinai {
  font-size: $text-16;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  @media (min-width: 800px) {
    font-size: $text-18;
  }
}

.homepage__subtitle--sinai {
  padding-bottom: 2rem;
  font-size: $text-20;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: 800px) {
    font-size: $text-24;
  }
}
