.site-navbar--si-auth {
  padding: 0 0 1rem;
  background-color: $white;
}

.si-auth__navbar-logo {
  width: 150px;
}

.si-auth-page {
  margin: 0 auto;

  @media (min-width: 992px) {
    display: grid;
    padding-top: 0;
    max-width: 1400px;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr 1fr 6fr;
    grid-template-rows: 100px 1fr 0.5fr 1fr auto;
  }
}

.si-auth__image-wrapper {
  height: 100%;
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: image-url('sinai/sinai-1.jpg');

  @media (min-width: 768px) {
    min-height: 700px;
  }

  @media (min-width: 992px) {
    grid-column: 3 / 6;
    grid-row: 1 / 5;
  }
}

.si-auth-page__overlay {
  padding: 2rem 1.25rem;
  color: $white;
  background-color: $callisto-drk-red;

  @media (min-width: 992px) {
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    max-height: 325px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}

.si-auth-page__title {
  font-size: $text-24;
  font-weight: $font-bold;
  line-height: 1.25;
  @media (min-width: 768px) {
    font-size: 1.75rem;
  }

  @media (min-width: 992px) {
    font-size: $text-36;
  }

  @media (min-width: 1200px) {
    font-size: 2.5rem;
  }
}

.si-auth-page__sub-title {
  padding: 1rem 0;
  font-size: $text-18;
  font-weight: $font-light;
  line-height: 1.2;

  @media (min-width: 992px) {
    padding-right: 2rem;
    font-size: $text-24;
  }
}

.si-auth-page__btn {
  font-size: $text-14;

  @media (min-width: 768px) {
    font-size: $text-16;
  }
}

.si-auth-page__lede {
  padding: 1.75rem 1.25rem 0;
  font-size: $text-16;
  font-weight: $font-light;
  line-height: 2;

  @media (min-width: 576px) {
    font-size: $text-18;
  }

  @media (min-width: 992px) {
    padding: 2rem;
    font-size: $text-20;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
}

@keyframes wiggle {
  20% {
    transform: translateX(4px);
  }

  40% {
    transform: translateX(-4px);
  }

  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0);
  }
}

.wiggle:hover {
  animation: wiggle 1s ease;
  animation-iteration-count: 2;
}
