@import 'base/global/colors';
@import 'ur-colors';

.btn-ursus--blue {
  background-color: $ucla-darker-blue;
  border-color: $ucla-darker-blue;
  color: $white;
}

.btn-ursus--blue:hover {
  background-color: $ucla-darkest-blue;
  border-color: $ucla-darkest-blue;
  color: $white;
}

.btn-outline-ursus--blue {
  color: $ucla-darker-blue;
  border-color: $ucla-darker-blue;
}

.btn-outline-ursus--blue:hover {
  background-color: $ucla-darker-blue;
  border-color: $ucla-darker-blue;
  color: $white;
}

.btn-ursus--gold {
  background-color: $ucla-gold;
  border-color: $ucla-gold;
}

.btn-ursus--gold:hover {
  background-color: $ucla-darker-gold;
  border-color: $ucla-darker-gold;
}

.btn-outline-ursus--gold {
  color: $gray-80;
  border-color: $ucla-darker-gold;
}

.btn-outline-ursus--gold:hover {
  background-color: $ucla-darker-gold;
  border-color: $ucla-darker-gold;
}
