$ucla-blue: #2774ae;
$ucla-darker-blue: #005587;
$ucla-darkest-blue: #003b5c;
$ucla-lighter-blue: #8bb8e8;
$ucla-lightest-blue: #c3d7ee;
$ucla-gold: #ffd100;
$ucla-darker-gold: #ffc72c;
$ucla-darkest-gold: #ffb81c;
