$ucla-blue: #2774ae;
$ucla-blue-darker: #005587;
$ucla-blue-darkest: #003b5c;
$ucla-blue-lighter: #8bb8e8;
$ucla-blue-lightest: #c3d7ee;
$ucla-gold: #ffd100;
$ucla-gold-darker: #ffc72c;
$ucla-gold-darkest: #ffb81c;
