$ucla-blue: #2774ae; // (39,116,174)
$ucla-darker-blue: #005587; // (0, 85, 135)
$ucla-darkest-blue: #003b5c; // (0, 59, 92)
$ucla-lighter-blue: #8bb8e8;
$ucla-lightest-blue: #c3d7ee;
$ucla-gold: #ffd100;
$ucla-darker-gold: #ffc72c;
$ucla-darkest-gold: #ffb81c;
