<div
  class="container-full alert-bar alert-bar--ursus"
  id="alertBar">
  <div class="alert-bar__wrapper alert-bar__wrapper--ursus">
    <span class="alert-bar__text alert-bar__text--ursus">
      <strong>Help us improve your digital library experience!</strong> Join a usability testing session by completing <a href="https://docs.google.com/forms/d/e/1FAIpQLSfXJw6U4Q0fvb7BHW9WqvrBN0JETewtkKlQLWHvm_s37rLzcA/viewform">our survey</a>.
    </span>
  </button>
  </div>
</div>
