<div class="container-full container-full--navbar site-navbar site-navbar--sinai">
  <nav class="navbar navbar-expand-lg navbar-dark site-navbar__wrapper site-navbar__wrapper--sinai" role="navigation">
    <div class='site-navbar__logo-block site-navbar__logo-block--sinai'>
      <%= link_to "Sinai Manuscripts Digital Library", root_path, class: 'site-navbar__logo--sinai' %>
      <span class="site-navbar__logo-subtitle--sinai">A publication of St. Catherine's Monastery of the Sinai, Egypt</span>
    </div>

    <button class='navbar-toggler  navbar-toggler-icon--sinai' type='button' data-toggle='collapse' data-target='#user-util-collapse' aria-controls='user-util-collapse' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse ' id='user-util-collapse'>
      <ul class='navbar-nav nav ml-auto'>
        <li class='site-navbar__item site-navbar__item--sinai'>
          <div class="dropdown ml-auto">
            <div id="actions" class="dropdown btn-group btn site-navbar__item-link--sinai" role="group">
              <div id="actionToggle" class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</div>
              <div class="dropdown-menu dropdown-menu-right site-navbar__item site-navbar__item--sinai" role="menu" aria-labelledby="actionToggle">
                <a class="dropdown-item site-navbar__item-link--sinai" href="/sinai_about" name="action2">The Project</a>
                <a class="dropdown-item site-navbar__item-link--sinai" href="/manuscript_descriptions" name="action1">Manuscript Descriptions</a>
                <a class="dropdown-item site-navbar__item-link--sinai" href="/terms-of-use" name="action2">Terms of Use</a>
                <a class="dropdown-item site-navbar__item-link--sinai" href="/contact" name="action1">Contact Us</a>
              </div>
            </div>
          </div>
        </li>

        <li class='site-navbar__item site-navbar__item--sinai '>
          <a class='site-navbar__item-link site-navbar__item-link--sinai palimpsests' href='http://sinaipalimpsests.org/' target='_blank' rel="noopener">Sinai Palimpsests Project</a>
        </li>
      </ul>
    </div>

  </nav>
</div>
