<div class="container-full container-full--navbar site-navbar site-navbar--sinai">
  <nav class="navbar navbar-expand-lg navbar-dark site-navbar__wrapper site-navbar__wrapper--sinai" role="navigation">
    <a href='/' class='site-navbar__logo-block site-navbar__logo-block--sinai'>
      <%= image_tag('sinai-logos/sinai-logo-header.svg', class: 'site-navbar__logo-img--sinai', alt: 'Sinai Manuscripts Digital Library') %>
        <div class='site-navbar__logo-block--sinai-text-logo'>
          <span class='site-navbar__logo-title--sinai'>Sinai Manuscripts Digital Library</span>
          <span class="site-navbar__logo-subtitle--sinai">A publication of St. Catherine's Monastery of the Sinai, Egypt</span>
        </div>
    </a>
    
    <ul class='nav ml-auto site-navbar__link-block--sinai'>
        <li class='nav-item site-navbar__item--sinai'>
        <%= render_search_bar %>
        <%#= link_to "Search #{image_tag('sinai-logos/search-icon-bold.svg', class: 'site-header__search-icon--sinai', alt: 'Search icon')}".html_safe, '/catalog?utf8=%E2%9C%93&q=&search_field=all_fields' %>
      </li>
      <li class='nav-item site-navbar__item--sinai'><%= link_to 'About', sinai_about_path %></li>
      <% if !cookies[:sinai_authenticated] %>
        <% cookies[:request_original_url] = request.original_url %>

      <li class='nav-item site-navbar__item--sinai'><%#= link_to 'Login', login_path %>
      <%= button_to 'LOGIN', ENV['SINAIID_URL'], params: { 'key' => ENV['SINAIID_UCLA_KEY'], callback_url: request.original_url, token: @token }, method: :post, class: 'btn btn_nav_link--sinai' %>
       </li>
       <% end %>

    </ul>

  </nav>
</div>
