.site-footer__secondary--sinai {
  background-color: $black-90;

  hr {
    margin: 0 auto;
    width: 65%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.site-footer__secondary-wrapper--sinai {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.site-footer__link--sinai {
  font-weight: 300;
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:visited,
  &:hover,
  &:active {
    color: $white;
  }
}
