.site-footer__secondary--sinai {
  background-color: $sinai-red;
}

.site-footer__secondary-wrapper--sinai {
  display: flex;
  justify-content: center;
}

.site-footer__list-item--sinai {
  display: inline;

  &:nth-child(1)::after {
    position: relative;
    top: -3px;
    left: -15px;
    font-weight: 300;
    color: $sinai-beige;
    content: '|';
  }
}

.site-footer__link--sinai {
  padding-right: 2.5rem;
  color: $sinai-beige;

  &:visited,
  &:hover,
  &:active {
    color: $sinai-beige;
  }
}
