<div class='primary-metadata'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-10'>
          <%= render 'primary_metadata', { document: document } %>
        </div>
        <div class='col-md-2'>
        </div>
      </div>
    </div>
  </div>
  