<% doc_presenter = document_presenter(document) %>
<% overview = Ursus::ItemOverviewMetadataPresenter.new(document: doc_presenter).overview_terms %>

<% if overview.length > 0 %>
  <div class="metadata-block">
    <h4 class="metadata-block__title">Item Overview</h4>
    <dl class="metadata-block__group">
      <% overview.each do |field_name, field| %>
        <dt class="blacklight-<%= field_name.parameterize %> metadata-block__label-key">
          <!-- KEY -->
          <%= field.label %>
          <!-- VALUE -->
          <dd class="blacklight-<%= field_name.parameterize %> metadata-block__label-value metadata-block__label-value--ursus">
            <%= doc_presenter.field_value field %>
          </dd>
        </dt>
      <% end %>
    </dl>
  <hr class="divider divider--ursus">
  </div>
<% end %>
