<div class='item-page__secondary-metadata item-page__secondary-metadata--ursus'>
  <%= render 'catalog/work_record--ursus/find_this_item_metadata', document: document %>

  <%= render 'catalog/work_record--ursus/access_condition_metadata', document: document %>
</div>
