<% if Flipflop.sinai? %> 
  <% url = request.original_url %> 
  <% unless url.include?('login') %> 
    <%= render partial: 'shared/sinai_header' %>
      <div class="navbar site-searchbar" role="search">
        <%= render_search_bar %>
      </div>
  <% end %> 
<% else %> 
  <%= render partial: 'shared/ursus_header' %>
  <div class="navbar site-searchbar" role="search">
    <%= render_search_bar %>
  </div>
<% end %>
