<div class='banner__overlay--collection'>
  <h1 class='banner__title--collection'>Canon Law</h1>
  <div class='banner__collection-detail'>
    <div class='banner__collection-count'>
      3 Items
    </div>
    <%= link_to 'Browse items in this collection', "/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Corpus+Juris+Canonici", class: 'btn-base btn-outline-ursus--gold ur-link--gold banner__overlay-btn-text' %>
  </div>
</div>
