<div class="banner--collection-page" style="background-image: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.4)
  ),url(<%= image_path create_representative_image(@document) %>);">
  <%= render 'catalog/banners/collection_masthead_overlay', document: @document, collection_count: @collection_count %>
</div>
