<div class='banner__overlay--collection'>
  <h1 class='banner__title--collection'>Canon Law</h1>
  <div class='banner__collection-detail'>
    <div class='banner__collection-count'>
      3 Items
    </div>
  </div>
</div>
