<!-- Home page banner -->
<% if current_page?(root_path) %>

  <div class='banner__homepage--ursus'>
    <div class='banner__overlay--ursus'>
      <h1 class='banner__title--ursus-home'>
        <span>UCLA LIBRARY</span><br>
        <span>DIGITAL COLLECTIONS</span>
      </h1>
    </div>

    <span class="banner__caption--ursus"><a href="catalog/ark:/21198/z1x11zvs">
      Poster celebrating the 100 years of the legal abolition of three centuries of slavery in Brazil (1888-1988)
      <br>
      Collections: Soweto Black Organization, Modern Endangered Archives Program
    </a></span>
  </div>

<% end %>

<!-- Collection page banner -->
<% if controller.controller_name == 'catalog' && @document && @document[:has_model_ssim] && @document[:has_model_ssim][0] == 'Collection' %>
  <%= render 'catalog/banners/collection_banner--ursus' %>
<% elsif @program_partial %>
  <%= render "catalog/programs/#{@program_partial}_banner" %>
<% end %>
