# These owners are the default owners for the repo.
#
# Unless a later match takes precedence, @tinuola
# will be requested for review when someone opens
# a front-end related pull request.  

# Front-End Assets
/app/assets/              @tinuola
