<div class="primary-metadata_tab-box--sinai">
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Extent: [Extent] | [Dimensions] | [Weight]</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">        
      <span class="metadata-block_title--sinai">Collation</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Form</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Support</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Writing system</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Script</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">    
      <span class="metadata-block_title--sinai">Ink color</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai"><span class="metadata-block_title--sinai">Page layout</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai"><span class="metadata-block_title--sinai">Foliation note</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai"><span class="metadata-block_title--sinai">Hand note</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai"><span class="metadata-block_title--sinai">Script note</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai"><span class="metadata-block_title--sinai">Binding note</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai"><span class="metadata-block_title--sinai">Condition note</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai"><span class="metadata-block_title--sinai">Physical description note</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
</div>
