<div class="primary-metadata_tab-box--sinai">
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Descriptive title</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Uniform title</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Alternative title</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Incipit</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Explicit</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Author</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">Associated name</span>  
      <span class="metadata-block_value--sinai">Psalter and Odes</span>
   </div>
   <div class="metadata-block--sinai">
      <span class="metadata-block_title--sinai">CONTENTS NOTE</span>  
      <span class="metadata-block_value--sinai">Contents not goes here - sometimes there isn’t a
      contents note - sometimes they are long - mostly
      they are two to three sentences long, so would
      take up anywhere from 3 to 10 lines maybe?</span>
   </div>
</div>
