<% if Flipflop.sinai? %>
  <div class='item-page__secondary-metadata item-page__secondary-metadata--sinai'>
    <h2 class="metadata-block__title">Item Overview</h2>
    <div class="secondary-metadata_container--sinai">
      <%= render 'catalog/work_record/keyword_metadata', document: document %>
      <%= render 'catalog/work_record/item_overview_metadata', document: document %>
    </div>
  </div>
<% else %>
  <div class='item-page__secondary-metadata item-page__secondary-metadata--ursus'>
    <%= render 'catalog/work_record/find_this_item_metadata', document: document %>

    <%= render 'catalog/work_record/access_condition_metadata', document: document %>
  </div>
<% end %>
