.btn-base {
  @extend .btn;
  border-radius: 0;
}

.btn-base:hover {
  background-color: $gray-40;
}

.btn-base-lg {
  @extend .btn-lg;
}

.btn-base-sm {
  @extend .btn-sm;
}

.btn-base-link {
  @extend .btn-link;
  color: $gray-80;
}

.btn-base--base {
  background-color: $gray-60;
}

.btn-base-outline--dark {
  color: $gray-80;
  background-color: $white;
  border-color: $gray-60;
  &:hover {
    color: $white;
    background-color: $gray-60;
  }
}

.btn-base-outline--light {
  color: $gray-80;
  background-color: $white;
  border-color: $gray-10;
  &:hover {
    background-color: $gray-10;
  }
}
