.btn-base {
  @extend .btn;

  border-radius: 0;

  &:hover {
    background-color: $gray-40;
  }
}

.btn-base-lg {
  @extend .btn-lg;
}

.btn-base-sm {
  @extend .btn-sm;
}

.btn-base-link {
  @extend .btn-link;

  color: $gray-80;
}

.btn-base--base {
  background-color: $gray-60;
}

.btn-base-outline--dark {
  background-color: $white;
  border-color: $gray-60;

  &:hover {
    background-color: $gray-60;
  }
}

.btn-base-outline--light {
  background-color: $white;
  border-color: $gray-10;

  &:hover {
    background-color: $gray-10;
  }
}
