/* stylelint-disable selector-no-qualifying-type */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
/* stylelint-enable selector-no-qualifying-type */
