$text-50: 3.25rem;
$text-36: 2.25rem;
$text-28: 1.75rem;
$text-24: 1.5rem;
$text-20: 1.25rem;
$text-18: 1.125rem;
$text-16: 1rem;
$text-14: 0.875rem;

$font-bold: 600;
$font-light: 300;

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

.bordered-title {
  border-bottom: 1rem solid $gray-80;
}
