<div class='metadata-block'>
  <h2 class='metadata-block__title'>About this Collection</h2>
  <div class='metadata-block__group'>
    <p itemprop="abstract" class='collection-page__text'>
      <%= document[:summary_tesim][0] %>
    </p>
  </div>
  <hr class='divider divider--ursus'>
</div>
