<% doc_presenter = show_presenter(document) %>
<% contacts = Ursus::AccessConditionMetadataPresenter.new(document: doc_presenter.fields_to_render).access_condition_terms %>

<% if contacts.length > 0 %>
  <div class='metadata-block'>
    <h2 class='collection-page__subtitle'>Access Condition</h2>
    <% contacts.each do |field_name, field| %>
      <div class='row metadata-block__group'>
        <div class="blacklight-<%= field_name.parameterize %> col-12 col-sm-4 metadata-block__label-key">
          <%= (render_document_show_field_label document, field: field_name).tr(':','') %> 
        </div>
        <div class="blacklight-<%= field_name.parameterize %> col-12 col-sm-8 metadata-block__label-value metadata-block__label-value--ursus">
          <%= doc_presenter.field_value field %> 
        </div>
      </div>
    <% end %>
    <hr class='collection-page__divider'>
  </div>
<% end %>
