<% doc_presenter = document_presenter(document) %>
<% overview = Ursus::CollectionOverviewMetadataPresenter.new(document: doc_presenter).overview_terms %>

<% if overview.length > 0 %>
  <div class='metadata-block'>
    <h2 class='metadata-block__title'>Collection Overview</h2>
    <% overview.each do |field_name, field| %>
      <div class='metadata-block__group--collection-pg'>
        <div class="blacklight-<%= field_name.parameterize %> metadata-block__label-key">
          <%= field.label %>
        </div>
        <div class="blacklight-<%= field_name.parameterize %> metadata-block__label-value">
          <%= doc_presenter.field_value field %>
        </div>
      </div>
    <% end %>
    <hr class='divider divider--ursus'>
  </div>
<% end %>
