<% if @document[:finding_aid_url_ssm] %>
<div class='blacklight-finding-aid metadata-block__label-key'>
Finding Aid URL</div>

<div class='blacklight-finding-aid metadata-block__label-value'>
<%= render_finding_aid_link %>
</div>"<% end %>
