<div class='header-image-block jumbotron '>
  <p class='header-image-block'><a class='header-image-block' href='/catalog/x2gp2000zz-89112'>Elephants from Cole Brothers Circus crossing Olive Street with police escort in Los Angeles, Calif., 1953</a><br>Collection: <a class='header-image-block' href='/catalog/x2gp2000zz-89112'>Los Angeles Daily News Negatives</a></p>
</div>
