$ucla-blue: #2774ae;
$ucla-darker-blue: #005587;
$ucla-darkest-blue: #003b5c;
$ucla-lighter-blue: #8bb8e8;
$ucla-lightest-blue: #c3d7ee;
$ucla-gold: #ffd100;
$ucla-darker-gold: #ffc72c;
$ucla-darkest-gold: #ffb81c;
$ucla-tertiary-yellow: #ffff00;
$ucla-tertiary-green: #00ff87;
$ucla-tertiary-pink: #ff00a5;
$ucla-tertiary-purple: #8237ff;
$ucla-tertiary-cyan: #00ffff;
$ucla-tertiary-gray: #666666;
$ucla-tertiary-orange: #ffb300;

$white: #fff;
$black: #000;
$gray: #525252;
$light-gray: #ddd;
$gray-10: #e5e5e5;
$gray-40: #999;
$gray-60: #666;
$gray-80: #333;
