#facet-year_isim > div > div > ul {
  display: none;
}

.slider_js .slider-selection {
  background: #c3d7ee;
}

.range_limit input.range_begin,
.range_limit input.range_end {
  width: 4em;
}

// #facets {
// .navbar {
//   padding-top: 0.5rem;
// }
// .facets-heading {
//   line-height: 1 !important;
//   color: $ucla-darker-blue !important;
// }

// .text-success,
// .facet-values li .selected {
//   color: $ucla-blue !important;
// }

// .border-success,
// .facet-limit-active {
//   border-color: initial !important;
//   color: $white !important;
// }

// .facet-limit-active .card-header {
//   background-color: $ucla-blue !important;
//   color: $white !important;
// }

// .facet-limit-active .card-header a {
//   color: $white !important;
//   font-weight: 600;
// }

// .facet-content {
//   border-left: 1px solid #c1c1c1;
//   border-right: 1px solid #c1c1c1;
//   border-bottom: 1px solid #c1c1c1;
// }

// span.facet-label > span.selected {
//   color: $ucla-blue !important;
// }

// .facet-label a,
// .more_facets a {
//   color: $ucla-darker-blue;
// }

// .card-header.collapse-toggle[aria-expanded='true'] {
//   background-color: #c3d7ee;
//   color: $ucla-darkest-blue;
//   border: 1px solid #c1c1c1;
// }

// .card-header.collapse-toggle.collapsed::after {
//   -webkit-transform: rotate(90deg);
//   transform: rotate(90deg);
//   transition: -webkit-transform 0.1s ease;
//   transition: transform 0.1s ease;
//   transition: transform 0.1s ease, -webkit-transform 0.1s ease;
//   color: $ucla-darker-blue;
// }

// .card-header.collapse-toggle::after {
//   -webkit-transform: rotate(270deg);
//   transform: rotate(270deg);
//   transition: -webkit-transform 0.1s ease;
//   transition: transform 0.1s ease;
//   transition: transform 0.1s ease, -webkit-transform 0.1s ease;
//   color: $ucla-darker-blue;
// }

// .card {
//   border-radius: 0;
//   border: 0;

//   .card-header {
//     border-radius: 0;
//     border-bottom: 0;
//     background-color: inherit;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.125);
//   }

//   button.collapsed::after {
//     content: '⌃';
//     font-weight: 800;
//     position: absolute;
//     right: 1em;
//     top: 25px;
//   }
//   button::after {
//     content: '⌄';
//     font-weight: 800;
//     position: absolute;
//     right: 1em;
//     top: 20px;
//   }
//   .card-body {
//     border-radius: 0;
//   }
//   .card-body .mb-5 {
//     margin-bottom: 1rem !important;
//   }
//   .card-footer {
//     border-radius: 0;
//   }

// .btn {
//   font-size: 1em;
//   color: $ucla-gold;
//   background-color: $ucla-lightest-blue;
// border-color: $ucla-blue;
// border-width: 2px;
//   margin-left: 5px;
// }

// .btn[aria-expanded='true'] {
//   font-weight: bold;
//   text-decoration: none;
// }
// }
// }

// @media screen and (max-width: 991px) {
// #facets {
// margin-bottom: 1.5em;

// .navbar {
//   background-color: $ucla-lightest-blue;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
//   padding-top: 0.5rem;
//   padding-bottom: 0.5rem;

//   .facets-heading {
//     color: $ucla-darkest-blue;
//   }
// }

// .navbar-toggler {
//   border-color: transparent !important;
// }

// button:focus {
//   outline: none !important;
// }
// }

// .facets-toggleable-sm .navbar-toggler {
//   display: block;
// }
// .facets-toggleable-sm .facets-collapse {
//   display: block !important;
// }

// .facets-toggleable-md .navbar-toggler {
//   display: block;
// }
// .facets-toggleable-md .facets-collapse {
//   // display: block !important;
//   display: block;
// }

// .collapse:not(.show) {
//   // display: none !important;
//   display: none;
// }
// .svg-icon {
//   width: 1.5em;
//   height: 1.5em;
//   -webkit-transform: rotate(90deg);
//   transform: rotate(90deg);
//   transition: -webkit-transform 0.25s ease;
//   transition: transform 0.25s ease;
//   transition: transform 0.25s ease, -webkit-transform 0.25s ease;
// }

// .navbar-toggler.navbar-toggler-right[aria-expanded='true'] {
//   .svg-icon {
//     -webkit-transform: rotate(270deg);
//     transform: rotate(270deg);
//     transition: -webkit-transform 0.25s ease;
//     transition: transform 0.25s ease;
//     transition: transform 0.25s ease, -webkit-transform 0.25s ease;
//   }
// }

// .svg-icon path {
//   fill: $ucla-darkest-blue;
// }

// .svg-icon {
//   stroke: $ucla-darkest-blue;
//   stroke-width: 0.05rem;
// }
// }

// @media screen and (max-width: 767px) {
//   #facets {
//     .navbar {
//       padding-left: 1rem !important;
//     }
//   }
// }
