#facet-year_isim > div > div > ul {
  display: none;
}

.slider_js .slider-selection {
  background: #c3d7ee;
}

.range_limit input.range_begin,
.range_limit input.range_end {
  width: 4em;
}

.slider.slider-horizontal {
  width: 210px;
  height: 20px;
}

.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}

.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f5f5f5),
    to(#f9f9f9)
  );
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}

.slider-selection {
  position: absolute;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f9f9f9),
    to(#f5f5f5)
  );
  background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
}

.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -5px;
}

.slider-handle.round {
  border-radius: 20px;
}

.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0e90d2;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#149bdf),
    to(#0480be)
  );
  /* background-image: linear-gradient(to bottom, #149bdf, #0480be); */
  /* background-repeat: repeat-x; */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
  border: 0px solid transparent;
}

//   // date-range slider
//   .slider_js .slider-selection {
//     background: $callisto-drk-beige;
//   }

//   .range_limit .slider-handle {
//     background-color: $callisto-drk-red !important;
//     background-image: none;
//   }

// #facets {
// .navbar {
//   padding-top: 0.5rem;
// }
// .facets-heading {
//   line-height: 1 !important;
//   color: $ucla-darker-blue !important;
// }

// .text-success,
// .facet-values li .selected {
//   color: $ucla-blue !important;
// }

// .border-success,
// .facet-limit-active {
//   border-color: initial !important;
//   color: $white !important;
// }

// .facet-limit-active .card-header {
//   background-color: $ucla-blue !important;
//   color: $white !important;
// }

// .facet-limit-active .card-header a {
//   color: $white !important;
//   font-weight: 600;
// }

// .facet-content {
//   border-left: 1px solid #c1c1c1;
//   border-right: 1px solid #c1c1c1;
//   border-bottom: 1px solid #c1c1c1;
// }

// span.facet-label > span.selected {
//   color: $ucla-blue !important;
// }

// .facet-label a,
// .more_facets a {
//   color: $ucla-darker-blue;
// }

// .card-header.collapse-toggle[aria-expanded='true'] {
//   background-color: #c3d7ee;
//   color: $ucla-darkest-blue;
//   border: 1px solid #c1c1c1;
// }

// .card-header.collapse-toggle.collapsed::after {
//   -webkit-transform: rotate(90deg);
//   transform: rotate(90deg);
//   transition: -webkit-transform 0.1s ease;
//   transition: transform 0.1s ease;
//   transition: transform 0.1s ease, -webkit-transform 0.1s ease;
//   color: $ucla-darker-blue;
// }

// .card-header.collapse-toggle::after {
//   -webkit-transform: rotate(270deg);
//   transform: rotate(270deg);
//   transition: -webkit-transform 0.1s ease;
//   transition: transform 0.1s ease;
//   transition: transform 0.1s ease, -webkit-transform 0.1s ease;
//   color: $ucla-darker-blue;
// }

// .card {
//   border-radius: 0;
//   border: 0;

//   .card-header {
//     border-radius: 0;
//     border-bottom: 0;
//     background-color: inherit;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.125);
//   }

//   button.collapsed::after {
//     content: '⌃';
//     font-weight: 800;
//     position: absolute;
//     right: 1em;
//     top: 25px;
//   }
//   button::after {
//     content: '⌄';
//     font-weight: 800;
//     position: absolute;
//     right: 1em;
//     top: 20px;
//   }
//   .card-body {
//     border-radius: 0;
//   }
//   .card-body .mb-5 {
//     margin-bottom: 1rem !important;
//   }
//   .card-footer {
//     border-radius: 0;
//   }

// .btn {
//   font-size: 1em;
//   color: $ucla-gold;
//   background-color: $ucla-lightest-blue;
// border-color: $ucla-blue;
// border-width: 2px;
//   margin-left: 5px;
// }

// .btn[aria-expanded='true'] {
//   font-weight: bold;
//   text-decoration: none;
// }
// }
// }

// @media screen and (max-width: 991px) {
// #facets {
// margin-bottom: 1.5em;

// .navbar {
//   background-color: $ucla-lightest-blue;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
//   padding-top: 0.5rem;
//   padding-bottom: 0.5rem;

//   .facets-heading {
//     color: $ucla-darkest-blue;
//   }
// }

// .navbar-toggler {
//   border-color: transparent !important;
// }

// button:focus {
//   outline: none !important;
// }
// }

// .facets-toggleable-sm .navbar-toggler {
//   display: block;
// }
// .facets-toggleable-sm .facets-collapse {
//   display: block !important;
// }

// .facets-toggleable-md .navbar-toggler {
//   display: block;
// }
// .facets-toggleable-md .facets-collapse {
//   // display: block !important;
//   display: block;
// }

// .collapse:not(.show) {
//   // display: none !important;
//   display: none;
// }
// .svg-icon {
//   width: 1.5em;
//   height: 1.5em;
//   -webkit-transform: rotate(90deg);
//   transform: rotate(90deg);
//   transition: -webkit-transform 0.25s ease;
//   transition: transform 0.25s ease;
//   transition: transform 0.25s ease, -webkit-transform 0.25s ease;
// }

// .navbar-toggler.navbar-toggler-right[aria-expanded='true'] {
//   .svg-icon {
//     -webkit-transform: rotate(270deg);
//     transform: rotate(270deg);
//     transition: -webkit-transform 0.25s ease;
//     transition: transform 0.25s ease;
//     transition: transform 0.25s ease, -webkit-transform 0.25s ease;
//   }
// }

// .svg-icon path {
//   fill: $ucla-darkest-blue;
// }

// .svg-icon {
//   stroke: $ucla-darkest-blue;
//   stroke-width: 0.05rem;
// }
// }

// @media screen and (max-width: 767px) {
//   #facets {
//     .navbar {
//       padding-left: 1rem !important;
//     }
//   }
// }
