<% doc_presenter = show_presenter(document) %>
<% decorations = Sinai::DecorationMetadataPresenter.new(document: doc_presenter.fields_to_render).decoration_terms %>

<% if decorations.length > 0 %>
  <input type="radio" name="tabs" id="tabfour">
  <label for="tabfour">Decorations</label>
  <div class="primary-metadata_tab-box--sinai">
  <% decorations.each do |field_name, field| %>
    <div class="metadata-block--sinai">
        <span class="metadata-block_title--sinai"> <%= (render_document_show_field_label document, field: field_name).tr(':', '') %></span>
        <span class="metadata-block_value--sinai"><%= doc_presenter.field_value field %></span>
    </div>
    <% end %>
  </div>
<% end %>
