<% doc_presenter = show_presenter(document) %>
<% keyword = Sinai::KeywordsMetadataPresenter.new(document: doc_presenter.fields_to_render).keywords_terms %>

<% if keyword.length > 0 %>
  <div class="metadata-block--sinai">
    <div class="metadata-block_title--sinai">Keywords</div>
      <div class="metadata-block_value--sinai">
        <% keyword.each do |field_name, field| %>
          <% keyword_terms = doc_presenter.field_value field %>
          <% keyword_terms.each do |keyword_term| %>
            <span><%= keyword_term %></span>
          <% end %>
        <% end %>
      </div>
  </div>
<% end %>
