<div class='item-page__secondary-metadata item-page__secondary-metadata--sinai'>
  <h2 class="metadata-block__title">Item Overview</h2>
  <div class="secondary-metadata_container--sinai">
    <%= render 'catalog/work_record--sinai/keyword_metadata', document: document %>
    <%= render 'catalog/work_record--sinai/item_overview_metadata', document: document %>
  </div>
</div>
