<div class='item-page__secondary-metadata'>
  <%= render 'catalog/work_record/local_info_metadata', { document: document } %>

  <%= render 'catalog/work_record/access_condition_metadata', { document: document } %>
</div>
