.documents-list {
  margin-top: 1rem;
}

.document__list-item {
  border-bottom: 1px dotted $gray-10;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.document__list-header {
  margin-bottom: 0.5rem;
}

.document__list-title {
  font-size: $text-16;

  a,
  a:visited {
    color: $gray-80;
  }

  a:hover {
    color: $gray-60;
  }
}

.document__list-item-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.document__list-metadata-group {
  @extend .row;

  align-items: baseline;
  align-content: baseline;
}

.document__list-metadata-key {
  @extend .col-md-3;

  flex: 0 0 100%;
  margin-bottom: 0.25rem;
  font-size: $text-14;
  font-weight: $font-bold;
  text-align: right;
  color: $gray-80;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    flex: 0 0 25%;
    max-width: 25%;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
    text-align: left;
  }
}

.document__list-metadata-value {
  @extend .col-md-9;

  flex: 0 0 100%;
  margin-bottom: 0.25rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  a,
  a:visited {
    color: $gray-80;
  }

  a:hover {
    color: $gray-60;
  }

  @media (max-width: 767px) {
    margin-bottom: 0.5rem;
    padding-left: 15px;
  }

  @media (min-width: 768px) {
    flex: 0 0 70%;
    max-width: 70%;
  }
}
