.site-navbar--sinai {
  background-color: $sinai-secondary;
}

.site-navbar__wrapper--sinai {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  @media (max-width: 991px) {
    display: block;
  }
}

.site-navbar__logo-block--sinai {
  &:hover {
    text-decoration: none;
  }

  @media (max-width: 991px) {
    margin-bottom: 0;
  }
}

.site-navbar__logo-img--sinai {
  padding-right: 10px;
  height: 66px;

  @media (max-width: 800px) {
    padding-right: 6px;
    height: 50px;
  }
}

.site-navbar__logo-block--sinai-text-logo {
  font-family: 'Dosis', sans-serif;
  line-height: 1.25;
  align-self: flex-end;
}

.site-navbar__logo-title--sinai {
  font-size: $text-28;
  color: $gray-80;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $gray-80;
  }

  @media (max-width: 800px) {
    font-size: $text-24;
  }

  @media (max-width: 600px) {
    font-size: $text-20;
  }
}

.site-navbar__logo-subtitle--sinai {
  display: block;
  font-size: $text-18;
  font-weight: 500;
  color: $gray-80;

  &:hover {
    text-decoration: none;
    color: $gray-80;
  }

  @media (max-width: 800px) {
    font-size: $text-16;
  }
}

.site-navbar__link-block--sinai {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 991px) {
    align-items: center;
    padding-top: 1rem;
  }
}

.site-navbar__item--sinai {
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;

  @media (max-width: 800px) {
    font-size: $text-14;
  }
}

.site-navbar__item--sinai:not(:last-child) {
  padding-right: 15px;
}

// Aligns "Login" link to "About" link
.site-navbar__item--sinai .button_to {
  position: relative;
  top: -0.0625rem;
}

.site-header__search-icon--sinai {
  position: relative;
  top: 0.5px;
  display: inline;
  height: 25px;
}
