.site-navbar--sinai {
  background-color: $sinai-beige;
}

.site-navbar__wrapper--sinai {
  @media (max-width: 800px) {
    display: block;
  }
}

.site-navbar__logo-block--sinai {

  @media (max-width: 800px) {
    justify-content: unset;
  }
}

.site-navbar__logo-img--sinai {
  height: 66px;
  padding-right: 10px;

  @media (max-width: 400px) {
    height: 50px;
    padding-right: 6px;
  }
}

.site-navbar__logo--sinai {
  font-size: $text-28;
  color: $gray-80;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $sinai-red;
  }

  @media (max-width: 800px) {
    font-size: $text-24;
  }

  @media (max-width: 400px) {
    font-size: $text-18;
  }
}

.site-navbar__logo-subtitle--sinai {
  font-size: $text-18;
  display: block;

  @media (max-width: 800px) {
    font-size: $text-14;
  }

  @media (max-width: 400px) {
    font-size: .75rem;
  }
}

.site-navbar__item--sinai:not(:last-child) {
  padding-inline-end: 20px;

  @media (max-width: 500px) {
    padding-inline-end: 16px;
  }
}

.site-navbar__item--sinai {
  font-weight: inherit;
  text-transform: uppercase;
  padding-top:10px;
  padding-bottom:10px;

  @media (max-width: 991px) {
    padding-inline-end: 20px;
  }

  @media (max-width: 500px) {
    padding-inline-end: 20px;
  }
}

.site-navbar__link-block--sinai {
  justify-content: flex-end;

  @media (max-width: 800px) {
    border-top: red;
    border-top: 1px solid $gray-40;
  }
}

.site-navbar__item-link--sinai {
  font-size: $text-18;
  color: $gray-80;

  &:visited {
    color: $gray-80;
  }

  &:hover {
    text-decoration: underline;
    color: $sinai-red;
  }

  @media (max-width: 991px) {
    &:hover {
      text-decoration: underline;
      color: $sinai-red;
    }
  }

  @media (max-width: 500px) {
    font-size: $text-14;
  }
}

.site-header__search-icon--sinai {
  height: 25px;
  display: inline;
}
