.site-searchbar--sinai {
  background-color: $sinai-black;
}

// Search bar search red magnifying-glass icon
.site-searchbar__search-icon--sinai svg g {
  stroke: $sinai-black;
}

// Dropdown field
.site-searchbar__dropdown--sinai {
  font-size: $text-14;
  font-weight: $font-medium;
  color: $gray-60;
  border-right: 1px solid $gray-10;
}

.input-group > .custom-select--sinai {
  width: auto;
  flex: 0 1 auto;
}

.form-control--sinai {
  font-size: $text-14;
  font-weight: $font-light;
}

.site-searchbar__search-icon--sinai .btn {
  font-size: $text-14;
}
