.site-navbar--sinai {
  background-color: $sinai-beige;
}

.site-navbar__wrapper--sinai {
  @media (max-width: 800px) {
    display: block;
  }
}

.site-navbar__logo-block--sinai {

  @media (max-width: 800px) {
    justify-content: unset;
  }
}

.site-navbar__logo-img--sinai {
  height: 66px;
  padding-right: 10px;
}

.site-navbar__logo--sinai {
  font-size: $text-28;
  color: $gray-80;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $sinai-red;
  }

  @media (max-width: 374px) {
    font-size: $text-24;
  }
}

.site-navbar__logo-subtitle--sinai {
  font-size: $text-18;
  display: block;

  @media (max-width: 375px) {
    font-size: $text-14;
  }
}

.nav-item--sinai:not(:last-child) {
  padding-right: 20px;
}

.site-navbar__item--sinai {
  font-weight: inherit;
  text-transform: uppercase;

  @media (max-width: 991px) {
    &:hover {
      background-color: $sinai-dark-beige;
    }
  }
}

.site-navbar__link-block--sinai {
  justify-content: flex-end;
}

.site-navbar__item-link--sinai {
  font-size: $text-18;
  color: $gray-80;

  &:visited {
    color: $gray-80;
  }

  &:hover {
    text-decoration: underline;
    color: $sinai-red;
  }

  @media (max-width: 991px) {
    &:hover {
      text-decoration: underline;
      color: $sinai-red;
    }
  }
}

.site-header__search-icon--sinai {
  height: 25px;
  display: inline;
}
