<div class="banner--collection-page" style="background-image: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.4)
  ),url(/meap.png);">

  <div class="banner__overlay--collection">
    <h1 class="banner__title--collection">Modern Endangered Archives Program</h1>
    <div class="banner__collection-detail">
      <div class="banner__collection-count" itemprop="collectionSize">TODO items <%= @response.response["numFound"] %> collections</div>
      <a class="btn-base btn-outline-ursus--gold ur-link--gold banner__overlay-btn-text" href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Ustadh+Mau+Digital+Archive+%28UMADA%29">Browse items in this collection</a>
    </div>
  </div>
</div>
