<h1 class="static-page__title">About this program</h1>

<p class="static_page__paragraph">The UCLA Library Modern Endangered Archives Program (MEAP) supports the preservation and discovery of at-risk archival collections that invite a more expansive understanding of the world we live in. MEAP grants fund projects that document, digitize, and make accessible cultural heritage materials from the 20th and 21st centuries. Digital collections reflect community voices, cultural expression and historical experiences that have been left out of national narratives and archives.</p>
<p class="static_page__paragraph">MEAP provides open access to digitized archival materials for research and teaching purposes. Collections from over 30 countries include film, video, audio, photographs, manuscripts, newspapers, ephemera and more.</p>
<p class="static_page__paragraph">For more information about MEAP Grants, visit <%= link_to "meap.library.ucla.edu", "https://meap.library.ucla.edu/", class: "ur-link", target: :_blank %>.</p>

<hr class="divider divider--ursus">
