<h1 class="static-page__title">About this program</h1>

<p class="static_page__paragraph">The Modern Endangered Archive Program (MEAP) is a granting program at the UCLA Library that works to preserve global cultural heritage collections at risk of loss due to environmental conditions, political uncertainty, inherently unsustainable media, inappropriate or inadequate storage, climate change or social strife. MEAP funds projects to document, digitize and make accessible endangered archival materials from the 20th and 21st Centuries, including print, photographic, film, audio, ephemeral and born-digital objects. Collections focus on history, society, culture and politics, with an emphasis on social justice, human rights activism, cultural production, indigenous experiences and under-documented communities.</p>
<p class="static_page__paragraph">We offer three levels of grant support for projects to organize, collect, convert and describe archival material or existing digital assets.</p>
<p class="static_page__paragraph">MEAP is dedicated to:</p>
<ul class="static-page__list static-page__list--ursus">
  <li>Providing open access to cultural and historical materials from around the world as a challenge to politicized and nationalized historical narratives that minimize or silence multiple voices and perspectives.</li>
  <li>Enabling digital preservation of at-risk cultural heritage from parts of the world with limited resources for archival preservation.</li>
  <li>Expanding the capacity for digital preservation around the world and building a culture of open access that can continue after the period of the grant.</li>
</ul>

<hr class="divider divider--ursus">
