// .site-navbar--canon {
//   margin-top: 25px;
//   margin-bottom: 32px;
//   font-size: $text-20;
//   font-weight: bold;
//   background-color: $white;
//   flex-direction: row;
//   list-style-type: none;
// }

/*
Specs (Use the new variables when applicable)
Set font-size for nav links to 20px, 
reduce to 18px at max-width of 767px, 
to 16px at max-width of 575px
Default link color is gray-60, active color is ucla-darker-blue with text-underline
When navbar is responsive, text "Canon Law Menu" should appear next to collapsed menu icon
In responsive mode, background of link items should change on hover to ucla lightest blue.
*/

.site-navbar--canon {
  padding-bottom: 5px;
  background-color: $white;
  border-bottom: 1px solid $ucla-lightest-blue;

  @media (max-width: 991px) {
    font-size: $text-18;
  }
  @media (max-width: 767px) {
    font-size: $text-18;
    flex-direction: column;
  }
  @media (max-width: 575px) {
    font-size: $text-16;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .navbar--canon {
    justify-content: flex-end;
    padding: 0;
  }

  .navbar-toggler-icon--canon {
    //rgba(0,59,92, 1) ucla-darkest-blue
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,85,135, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.navbar-collapse--canon {
  justify-content: space-evenly;
}

.site-navbar__item--canon {
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 991px) {
    margin-right: 0;
    padding: 0.75rem 1.5rem;
    background-color: $white;
    border-bottom: 1px solid $ucla-darker-blue;

    &:hover {
      background-color: $ucla-lightest-blue;
    }
  }

  @media (max-width: 767px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.site-navbar__item--canon:first-child {
  @media (max-width: 991px) {
    border-top: 1px solid $ucla-lightest-blue;
  }
}

.active.site-navbar__item-link--canon {
  padding-bottom: 2px;
  color: $ucla-darker-blue;
  border-bottom: 3px solid $ucla-darker-blue;
  //padding-left: 0;
  //padding-right: 0;
  &:visited {
    color: $ucla-darker-blue;
  }

  @media (max-width: 991px) {
    border-bottom: unset;
  }
}

.site-navbar__item-link--canon {
  font-size: $text-20;
  font-weight: $font-bold;
  //@extend .nav-link;

  color: $gray-60;
  list-style-type: none;
  letter-spacing: 0.05rem;

  &:visited {
    color: $gray-60;
  }

  &:hover {
    text-decoration: text-underline;
  }

  @media (max-width: 991px) {
    font-size: $text-18;
  }

  @media (max-width: 767px) {
    font-size: $text-18;
  }

  @media (max-width: 575px) {
    font-size: $text-16;
  }
}

.banner--collection-page--canon {
  background-image: asset-url('canon-law-banner_21198-zz0014rx9x-2.jpg');
}

.canon-law-center {
  text-align: center;
}

.canon-law__title {
  font-size: $text-24;
  font-weight: bold;
  line-height: 29px;
}

.canon-law__text {
  font-size: $text-18;
  line-height: 30px;

  @media (max-width: 767px) {
    font-size: $text-16;
  }
}

.canon-law__subtitle {
  padding-right: 25px;
  font-size: $text-14;
  text-align: right;
  letter-spacing: 0.15rem;
  text-transform: uppercase;

  @media (max-width: 991px) {
    margin-bottom: 1rem;
    font-size: $text-14;
  }
}
