.site-navbar--ursus {
  background-color: #0b6ab7;
}

.site-navbar__item-link--ursus {
  &:hover {
    color: $ucla-gold;
  }
}

.site-navbar__wrapper--ursus {
  @media (max-width: 991px) {
    .navbar-collapse {
      background-color: $ucla-darker-blue;
    }

    .navbar-toggler-icon--ursus {
      margin-bottom: 0.5rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.site-navbar__item--ursus {
  @media (max-width: 991px) {
    &:hover {
      background-color: $ucla-darkest-blue;
    }
  }
}
