// @import 'variables';

// .filter-box {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: flex-start;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-top: -1rem;
//   margin-bottom: 1.5rem;
// }
// @media screen and (max-width: 767px) {
//   .filter-box {
//     display: block;
//     height: 50px;
//   }
// }

// .filters-applied {
//   color: $ucla-darkest-blue;
//   font-weight: 600;
//   padding-right: 5px;
// }

// #appliedParams {
// padding-top: 15px !important;

// .btn-group {
// margin-bottom: 0.35rem;

// .constraints-container {
//   flex: 0 0 88% !important;
//   max-width: 100% !important;
// }

// .constraint-value,
// .remove {
// color: $ucla-darkest-blue !important;
// border-left: 2px solid $ucla-darkest-blue;
// background-color: $ucla-lightest-blue !important;
//border: 0 !important;
//  }
// .filter-name:after {
// color: $ucla-darkest-blue !important;
// }
/*.constraint-value:hover {
      color: $ucla-tertiary-gray !important;
      background: $light-gray !important;
      .filter-name:after {
        color: $ucla-darkest-blue !important;
      }
    } */
// .remove:hover {
//   background-color: #b22222 !important;
//   margin-left: -1px !important;
// }
// }
// }

// .startover-container {
//   flex: 0 0 12% !important;
//   max-width: 100px !important;
//   align-self: center;
//   padding: 6px;
// }

// .search-startover {
//   float: right;
//   clear: left;
//   a {
//     height: 30px;
//     width: 138px;
//     color: $ucla-blue;
//     background-color: $white;
//     font-family: Helvetica;
//     font-size: 14px;
//     line-height: 17px;
//     text-align: center;
//     border: 1px solid $ucla-blue;
//     border-radius: 0px;
//     padding: 6px;
//   }
//   a:hover {
//     height: 30px;
//     width: 138px;
//     color: $white !important;
//     background-color: $ucla-darker-blue;
//     font-family: Helvetica;
//     font-size: 14px;
//     line-height: 17px;
//     text-align: center;
//     border: 1px solid $ucla-darker-blue;
//     border-radius: 0px;
//     padding: 6px;
//     text-decoration: none;
//   }
// }

// search-filter-container .results_container {
//   margin-bottom: 50px;
// }

// @media screen and (max-width: 767px) {
// .startover-container {
//   padding-bottom: 10px;
// }
//   .pagination-search-widgets {
//     margin-left: -15px;
//   }
// }

// .space {
//   height: 50px;
// }
