<footer class="footer"
  <div class="container">

    <div class="text">
      <span class="version">Version <span title="<%= GIT_SHA %>"><%= BRANCH %> updated <%= LAST_DEPLOYED %></span></span>
    </div>
  </div>
</footer>
