<footer class="footer">
  <div class="container">
    <div class="feedback-link">
      <div class="alert-close">×</div>
      <a href="mailto:dlp@library.ucla.edu">Give Us Feedback</a>
    </div>
    <div class="footer-links">
      <a href="http://digital2.library.ucla.edu/copyright.html">Copyright and Collections</a> |
      <a href="http://www.library.ucla.edu/use/access-privileges/privacy-policy">Privacy Policy</a> |
      <a href="http://www.library.ucla.edu/give">Giving to the Library</a> |
      <a href="http://digital2.library.ucla.edu/contact.html">Contact</a>
    </div>
    <hr>
    <div class="footer-version">
      <span class="version">Version <span title="<%= GIT_SHA %>"><%= BRANCH %> updated <%= LAST_DEPLOYED %></span></span>
    </div>
  </div>
</footer>
