<nav class='navbar navbar-expand-md navbar-dark bg-dark topbar' role='navigation'>
  <div class='container-fluid'>

    <div class='navbar-logo-block'>
      <a href='https://library.ucla.edu' class='navbar-brand'><span class='logo-name'>UCLA Library Logo</span></a>
      <span class='navbar-pipe'></span>
      <%= link_to 'Digital Collections', root_path, class: 'navbar-text-logo' %>
    </div>

    <button class='navbar-toggler custom-toggler' type='button' data-toggle='collapse' data-target='#user-util-collapse' aria-controls='user-util-collapse' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse justify-content-md-end' id='user-util-collapse'>
    <ul class='navbar-nav nav ml-auto'>
      <li class='nav-item'><a href='/about' class='nav-link'>About</a></li>
      <li class='nav-item'><a href='mailto:dlp@library.ucla.edu' class='nav-link feedback-link'>Give us feedback<br><span class='feedback-email'>at dlp@library.ucla.edu</span></a></li>
    </ul>
  </div>

  </div>
</nav>

<!-- Searchbar -->
<% unless controller.controller_name == 'catalog' && controller.action_name == 'show' %>
<div class='container' id='search-bar-container'>  
  <div class='navbar-search navbar navbar-light bg-faded ursus-search-bar' role='navigation'>
    
      <%= render_search_bar %>
    </div>
  </div>
<% end %>


