<nav class='navbar navbar-expand-lg beta-bar' style="display:<%= @display_option %>">
  <span class='beta-text'>Welcome to Digital Collections (Beta)! This site is growing each week as we migrate content from our <a href='http://digital2.library.ucla.edu/'  target='_blank'>Legacy Site</a>.</span>
</nav>
<nav class='navbar navbar-expand-lg navbar-dark bg-dark topbar' role='navigation'>
  <div class='container-fluid'>

    <div class='navbar-logo-block'>
      <a href='https://library.ucla.edu' class='navbar-brand'><span class='logo-name'>UCLA Library Logo</span></a>
      <span class='navbar-pipe'></span>
      <%= link_to 'Digital Collections', root_path, class: 'navbar-text-logo' %> <span class='beta'>BETA</span>
    </div>

    <button class='navbar-toggler custom-toggler' type='button' data-toggle='collapse' data-target='#user-util-collapse' aria-controls='user-util-collapse' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse justify-content-md-end' id='user-util-collapse'>
      <ul class='navbar-nav nav ml-auto'>
        <li class='nav-item'><a href='/about'>About</a></li>
        <li class='give-us-feedback'><a href='mailto:dlp@library.ucla.edu' >Give us feedback</a></li>
      </ul>
    </div>

  </div>
</nav>

<!-- Searchbar -->
<% unless controller.controller_name == 'catalog' && controller.action_name == 'show' %>
  <div class='container' id='search-bar-container'>
    <div class='navbar-search navbar navbar-light bg-faded ursus-search-bar' role='navigation'>
      <%= render_search_bar %>
    </div>
  </div>
<% end %>
