<% if Flipflop.sinai? %>
  <%= render partial: 'shared/sinai_header' %>
<% else %>
  <%= render partial: 'shared/ursus_header' %>
<% end %>

<!-- Searchbar -->
<div class="navbar site-searchbar" role="search">
  <%= render_search_bar %>
</div>
