<nav class='navbar navbar-expand-lg navbar-dark site-navbar' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-logo-block'">
      <h3 style="color:white">Sinai Digital Manuscripts</h3>
    </div>

    <button class='navbar-toggler custom-toggler' type='button' data-toggle='collapse' data-target='#user-util-collapse' aria-controls='user-util-collapse' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='user-util-collapse'>
      <ul class='navbar-nav nav ml-auto'>
        <li class='nav-item'><a href='/about'>About</a></li>
      </ul>
    </div>

  </div>
</nav>
