<nav class='navbar navbar-expand-lg navbar-dark sinai-site-navbar' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-logo-block sinai-navbar-logo'>
      <%= link_to "Sinai Manuscripts Digital Library", root_path %>
    </div>

    <button class='navbar-toggler custom-toggler' type='button' data-toggle='collapse' data-target='#user-util-collapse' aria-controls='user-util-collapse' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='user-util-collapse'>
      <ul class='navbar-nav nav ml-auto'>
        <li class='nav-item'><a href='/about'>About the Project</a></li>
        <li class='nav-item'><a href='http://sinaipalimpsests.org/' target='_blank' rel="noopener" >Sinai Palimpsests Project</a></li>
      </ul>
    </div>
  </div>
</nav>
