<footer>
  <div class='primary-footer-wrapper'>
    <div class="col1">
    https://catalin.red/how-to-create-triangle-shapes/
  <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" margin="0 auto" fill="#800020" >
    <polygon points="0,0 25,0 12.5,25"/>
  </svg>
  
    </div>
    <div class="col2">
      <%= link_to(image_tag('logo/ucla-library-logo.svg', class: 'logo', alt: 'UCLA Library Logo'), 'https://www.library.ucla.edu/', target: '_blank', rel: 'noopener') %>
    </div>
    <div class="col3">
      <%= link_to(image_tag('logo/ucla-library-logo.svg', class: 'logo', alt: 'UCLA Library Logo'), 'https://www.library.ucla.edu/', target: '_blank', rel: 'noopener') %>
    </div>
  </div>

  <div class='secondary-footer-wrapper'>
    <div class="col4">
      <%= link_to(image_tag('logo/ucla-library-logo.svg', class: 'logo', alt: 'UCLA Library Logo'), 'https://www.library.ucla.edu/', target: '_blank', rel: 'noopener') %>
    </div>
    <div class="col5">
      <%= link_to(image_tag('logo/ucla-library-logo.svg', class: 'logo', alt: 'UCLA Library Logo'), 'https://www.library.ucla.edu/', target: '_blank', rel: 'noopener') %>
    </div>
  </div>
</footer>

<div class='copyright'>
  <div class='uc-regents'>

    &#169; 2020
  </div>
</div>
