<% @documents.each do |document| %>
  <h2 class="modal-title">Recommended Citation</h2>
  <hr>
  <% if document.respond_to?(:export_as_ucla_citation_txt) %>
    <h4><%= document.send(:export_as_ucla_citation_txt).html_safe %> Web accessed: <%= Time.now.strftime('%A %B %d, %Y -- %l:%M %p') %></h4>
  <% end %> 
  <hr>
  <h4><a href= "<%= solr_document_path document %>">BACK</a></h4>
<% end %>
