<div class='sinai-homepage-masthead jumbotron jumbotron-fluid mb-0'></div>

<div class='container-fluid'>
  <div class='sinai-hmpg-content-wrapper'>
    <div class="page-lead">
      <p class="m-0 p-0">St. Catherine’s Monastery of the Sinai, in partnership with the Early Manuscripts Electronic Library (EMEL) and the UCLA Library, welcomes you to the Sinai Manuscripts Digital Library. Widely recognized as the world’s oldest continually operating library, the manuscript holdings of St. Catherine’s Monastery represent an unparalleled resource to study the history and literature of the Eastern Mediterranean from late antiquity until early modernity.</p>
    </div>

    <hr class="divider__callisto--beige">

    <h2 class="grid-title m-0 pb-5">Explore</h2>

    <!--Start of grid section-->
    <div class="callisto-hmpg-grid">

      <!--Grid row1 - Large image-->
      <div class="row mx-0">
        <div class="col-md-7 img-grid-lg"></div>
        <div class="
          text-grid
          col-md-5
          d-flex
          flex-column
          justify-content-center
          align-items-start
          pt-4 pt-md-0 pl-0 pl-md-5">
          <h3 class="grid-subtitle">Manuscripts</h3>
          <p class="grid-text">Explore the Arabic and Syriac manuscripts of St. Catherine’s Monastery of the Sinai.</p>
          <a href="/catalog?utf8=✓&q=&search_field=all_fields" class="grid-link mt-md-3">View the Sinai Manuscripts</a>
        </div>
      </div><!--Grid row1 - Large image-->

      <!--Grid row2 - Medium images-->
      <!-- <div class="row mx-0 pt-5">
        <div class="col-md-3 img-grid-sm img-grid-sm-lf"></div>
          <div class="
            text-grid
            col-md-3
            d-flex
            flex-column
            justify-content-center
            align-items-start
            pt-4 pt-md-0 pl-0 pl-md-4">
            <h3 class="grid-subtitle-sm">Bibliography</h3>
            <p class="grid-text">A list of catalogues and resources related to the manuscripts of St. Catherine’s Monastery.</p>
          </div>
        <div class="col-md-3 img-grid-sm img-grid-sm-rt mt-4 mt-md-0"></div>
        <div class="
          text-grid
          col-md-3
          d-flex
          flex-column
          justify-content-center
          align-items-start 
          pt-4 pt-md-0 pl-0 pl-md-4">
          <h3 class="grid-subtitle-sm">About the Collection</h3>
          <p class="grid-text">Currently, the digital collection comprises 75 Arabic and Syriac manuscripts dating from the 7th to the 17th centuries. New manuscripts will be added regularly.</p>
      </div>
     </div>--><!--Grid row2 - Medium images-->

    </div><!--End of grid section-->
  </div><!--sinai-hmpg-content-wrapper-->
</div>
