<%= render :partial=>'home_text' %>

    <div class="container">
      <div class="row pt-4 pt-sm-5">
        <div class="col-12 home-page-lead">
          <p class="mb-0">The UCLA Library Digital Collections includes rare and unique digital materials developed by the UCLA Library to support education, research, service, and creative expression. This website is our new interface for discovery and engagement of these collections.</p>
          <hr class="divider__blue">
        </div>
      </div>
    </div>
