<div class='item-page__metadata-wrapper'>
  <%= render 'catalog/work_record/primary_metadata', { document: document } %>
  <%= render 'catalog/work_record/secondary_metadata', { document: document } %>
</div>

