<% if show_doc_actions? %>
  <div>
    <%= render_show_doc_actions @document do |config, inner| %>
      <div class="citation-link <%= config.key %>">
        <%= inner %>
      </div>
    <% end %>
  </div>
<% end %>
