<div id='sortAndPerPage'>
  <h4><b><%= number_with_delimiter @response.dig('response', :numFound) %></b> Catalog Results</h4>
  <%= render_results_collection_tools wrapping_class: "search-widgets" %>
  <%= paginate @response, left: 2, right: 3, :theme => 'blacklight'%>
</div>
