<% if query_has_constraints? %>
  <div class='startover-container search-startover'>
    <%=link_to t('blacklight.search.start_over'), '/catalog?utf8=%E2%9C%93&q=&search_field=all_fields', class: "catalog_startOverLink" %>
  </div>
<% end %>
