.beta {
  color: #ffd100;
  font-weight: 700;
  position: relative;
  top: 0.16em;
  left: 1em;
  font-size: .875em;
  letter-spacing: 0.05em;
}
.beta-bar {
  background-color: #ffd100;
}
.beta-text {
  padding: 2px 0px 2px 22px;
  font-size: .875em;
  font-weight: 800;
}
.fa-close:hover{
  text-decoration: underline;
 }
 