@import 'colors';

.btn-primary {
  background-color: $ucla-blue !important;
  border-color: $ucla-blue !important;
}

.btn-primary:hover {
  background-color: $ucla-darker-blue !important;
  color: $white !important;
  border-color: $ucla-darker-blue !important;
}

.btn-secondary {
  background-color: $light-gray !important;
  border-color: $light-gray !important;
}

.btn-outline-secondary {
  border-color: $light-gray !important;
  color: $ucla-darker-blue !important;
}

.btn-outline-secondary:hover {
  background-color: $light-gray !important;
  border-color: $light-gray !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active {
  background-color: $light-gray !important;
  border-color: $light-gray !important;
}

.show > .btn-outline-secondary.dropdown-toggle {
  background-color: $light-gray !important;
}

.applied-filter .remove:hover {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: $white !important;
}

.applied-filter .filter-name:after {
  color: $ucla-darker-blue !important;
}

.btn-group.applied-filter:hover {
  background-color: $light-gray !important;
}

.per-page-dropdown.btn-group > .btn,
.view-type-group.btn-group > .btn {
  border-radius: 0rem !important;
}

.blacklight-icons svg g {
  stroke: $ucla-darker-blue !important;
}

.facet-limit {
  margin-bottom: 0.2rem !important;
}
