.modal-content {
  padding: 20px;
}
.citation-link {
  color: $ucla-blue !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.citation-link:hover {
  color: $ucla-darkest-blue !important;
}
