$ucla-blue: #2774ae;
$ucla-darker-blue: #005587;
$ucla-darkest-blue: #003b5c;
$ucla-lighter-blue: #8bb8e8;
$ucla-lightest-blue: #c3d7ee;
$ucla-gold: #ffd100;
$ucla-darker-gold: #ffc72c;
$ucla-darkest-gold: #ffb81c;
$black: #000000;
$white: #ffffff;
$ucla-tertiary-yellow: #ffff00;
$ucla-tertiary-green: #00ff87;
$ucla-tertiary-pink: #ff00a5;
$ucla-tertiary-purple: #8237ff;
$ucla-tertiary-cyan: #00ffff;
$ucla-tertiary-gray: #666666;
$ucla-tertiary-orange: #ffb300;
$gray: #525252;
$light-gray: #dddddd;

$callisto-drk-red: #800020;
$callisto-light-red: rgba(128,0,32,.45);
$callisto-drk-blue: #152B5A;
$callisto-light-blue: #9CC9E1;
$callisto-orange: #CB3208;
$callisto-drk-beige: #E2DBCF;
$callisto-beige: #F7F2EA;
$white: #FFFFFF;
$black: #000000;
$gray-10: #E5E5E5;
$gray-40: #999999;
$gray-60: #666666;
$gray-80: #333333;
