$ucla-blue: #2774ae;
$ucla-darker-blue: #005587;
$ucla-darkest-blue: #003b5c;
$ucla-lighter-blue: #8bb8e8;
$ucla-lightest-blue: #c3d7ee;
$ucla-gold: #ffd100;
$black: #000000;
$white: #ffffff;
$ucla-tertiary-yellow: #ffff00;
$ucla-tertiary-green: #00ff87;
$ucla-tertiary-pink: #ff00a5;
$ucla-tertiary-purple: #8237ff;
$ucla-tertiary-cyan: #00ffff;
$ucla-tertiary-gray: #666666;
$ucla-tertiary-orange: #ffb300;
$gray: #525252;
$light-gray: #dddddd;
