.featured-collections {
  color: $ucla-darker-blue;
  font-weight: bold;
  font-size: 36px;
  margin-right: 5px;
  margin-left: 0px;
  padding-bottom: 24px;
}

.collection-boxes {
  .home_blocks-small_block {
    margin-bottom: 30px;
  }

  a.grid-wrapper {
    color: #333 !important;
    text-decoration: none !important;
  }

  .grid-wrapper {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 300ms ease-in-out 0s;
  }

  .grid-wrapper:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .grid-image {
    height: 375px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .grid-one {
    background-image: image-url("home-collection-grid/ladnn_collection.jpg");
  }

  .grid-two {
    background-image: image-url("home-collection-grid/bennett_collection.jpg");
  }

  .grid-three {
    background-image: image-url("home-collection-grid/connell_collection.jpg");
  }

  .grid-four {
    background-image: image-url("home-collection-grid/california_postcards.jpg");
  }

  .grid-five {
    background-image: image-url("home-collection-grid/ethiopic_manuscripts.jpg");
  }

  .grid-six {
    background-image: image-url("home-collection-grid/arkatov_collection.jpg");
  }

  .grid-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 20px;
  }

  .grid-yellow-liner {
    border-top: 3px solid $ucla-gold;
    margin: 10px 0 30px 0;
    width: 100px;
  }

  .grid-btn {
    padding-left: 0 !important;
  }

  .grid-btn::after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
  }
  // .grid-btn::after:hover {
  //   text-decoration: none !important;
  // }

  .grid-btn,
  .grid-btn:active,
  .grid-btn:visited {
    color: $ucla-blue !important;
    font-size: 12px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    line-height: 14px !important;
    text-transform: uppercase !important;
  }

  .grid-btn__main {
    background-color: $ucla-gold !important;
    font-weight: 500;
    padding: 14px 40px !important;
  }

  a.grid-btn__main,
  a.grid-btn__main:active,
  a.grid-btn__main:hover,
  a.grid-btn__main:visited {
    color: #333 !important;
    text-decoration: none !important;
  }
}
