/* http://brand.ucla.edu/identity/colors */
$ucla-blue: #2774AE;
$ucla-gold: #FFD100;
$ucla-blue-text-only: #347BAD;
$ucla-secondary-blue-dark: #1E4B87;
$ucla-secondary-blue-light: #00A5E5;
$ucla-tertiary-yellow: #FFFF00;
$ucla-tertiary-green: #00FF87;
$ucla-tertiary-pink: #FF00A5;
$ucla-tertiary-purple: #8237FF;
$ucla-tertiary-cyan: #00FFFF;
$ucla-tertiary-gray: #666666;
$ucla-tertiary-orange: #FFB300;
$ucla-link: #8237FF;
$ucla-link-hover: #1e4b87;
$gray: #525252;
