@import 'colors';

#documents {
  .document-title-heading {
    font-weight: 400;
    font-size: 1rem;
    color: $ucla-darker-blue;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .metadata-thumbnail-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .document-metadata {
    margin-right: 0px;
  }

  dl.document-metadata {
    padding-left: 0px;
    margin-left: 1em;
    dt {
      font-weight: bold;
      color: $ucla-darkest-blue;
      font-size: 1rem;
    }
    dd {
      flex: 0 0 70%;
      max-width: 70%;
    }
    .description,
    .description-full {
      width: 100%;
    }
  }

  .document-thumbnail img {
    max-width: 150px;
  }

  @media screen and (max-width: 766px) {
    .metadata-thumbnail-wrapper {
      flex-direction: column-reverse;
    }
    dl.document-metadata {
      margin-left: 0;
      dd {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    dd.document-metadata {
      margin-right: 15px;
    }
    .document-thumbnail {
      text-align: center;
      padding-bottom: 1rem;
    }
  }
}
