@import 'colors';

.feedback-link {
  text-transform: uppercase;
  background-color: #dddddd;
  border-radius: 2rem 2rem 0rem 0rem;

  font-size: 1.25em;
  font-weight: 500;
  margin: 0px;
  padding: 2rem 1.25rem 5rem 1.25rem;
  position: fixed;
  bottom: 0;
  left: 3rem;

  a {
    color: $ucla-blue;
  }

}

@media screen and (max-device-width: 480px) {
  .feedback-link {
    text-transform: uppercase;
    background-color: #dddddd;
    border-radius: 2rem 2rem 0rem 0rem;
    font-size: .75em;
    /* font-weight: 500; */
    margin: 0px;
    padding: 1rem 1rem 1.2rem 1.2rem;
    position: fixed;
    bottom: 0;
    /* left: 3rem; */
  }
}