@import 'colors';

.nav-item > .feedback-link {
  background-color: $ucla-darker-blue;
  padding: 30px 0px 21px 0px;
  a {
    display: inline-block;
  }
  .feedback-email {
    color: $ucla-lighter-blue;
  }
}

.nav-item > .feedback-link:hover {
  background-color: $ucla-darkest-blue;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .nav-item > .feedback-link {
    border-top: 1px solid #c3d7ee;
    padding: 10px;
  }
}
