@font-face {
  font-family: "ProximaNova-Regular";
  src: font_url("proximanova-regular.woff2") format("woff2"),
  font_url("proximanova-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
