@import 'colors';

.footer {

  margin-top: 2.5rem;
  background-color: $ucla-blue;
  color: snow;
  font-family: Helvetica;
  line-height: 1.5em;


  .footer-links {
    font-size: 1em;
    text-align: center;
    padding-top: 1.5em;

    a {
      color: snow;
      display: inline-block;
      padding: 0px 20px;
    }

    a:hover { 
      color: $ucla-gold;
      text-decoration: underline;
    }
  }

   .footer-version {
     color: #FFFFFF;
     font-size: .65em;
     text-align: center;
     padding-bottom: 1.5em;
   }

}
