@import 'colors';

.footer {
  margin-top: 2.5rem;
  background-color: $ucla-blue;
  color: #ffffff;
  line-height: 1.5em;

  .footer-links {
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0.5em;

    a {
      color: #ffffff;
      display: inline-block;
      padding: 0px 8px;
    }

    a:hover {
      color: $ucla-gold;
      text-decoration: underline;
    }
  }

  .footer-version {
    color: #ffffff;
    font-size: 0.65em;
    text-align: center;
    padding-bottom: 1.5em;
  }
}

@media all and (max-width: 500px) {
  .footer {
    .footer-links {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
}
