@import 'colors';

#documents.row.gallery {
  .gallery-box {
    outline: 1px solid #ddd;
    padding: 5px;
    height: 200px;
    margin-bottom: 15px;
  }

  .gallery-text {
    margin: 15px;
   }

  .document-metadata dt {
    font-weight: normal;
    color: #808080;
    }

  .document {
    .thumbnail {
      align: center;
      outline: 1px solid #ddd;
      margin: 5px;
      align: center;
    }
    .thumbnail img {
      align: center;
      margin: 15px;
      width: 80%;
    }
    .document-counter {
      color: $ucla-blue;
      padding-left: 1em;
      margin-bottom: 1.5em;
      margin-right: .5em;
    }
  }
}

@media screen and (max-width: 1199px) {
  #documents.row.gallery {
    .gallery-box {
      outline: 1px solid #ddd;
      padding: 5px;
      height: 200px;
      margin-bottom: 10px;
    }
    .gallery-text {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 450px) {
  #documents.row.gallery {
    .gallery-box {
      outline: 1px solid #ddd;
      padding: 5px;
      height: 200px;
      margin-bottom: 10px;
    }
    .gallery-text {
      margin: 10px;
    }
    .document {
      .thumbnail {
        align: center;
        outline: 1px solid tomato;
        margin: 5px;
        align: center;
      }
      .thumbnail img {
        align: center;
        margin: 15px;
        width: 80%;
      }
      .document-counter {
        color: $ucla-blue;
        padding-left: 1em;
        margin-bottom: 1.5em;
        margin-right: .5em;
      }
    }
  }
}

