@import 'colors';

.header-image-block {
  p {
    color: $gray;
    text-align: right;
    margin-right: 20px;
    font-size: 12px;
    margin-right: 20px;
  }
  a:link {
    color: $gray !important;
    text-align: right;
    text-decoration: underline;
    font-size: 12px;
  }
  a:active {
    color: $gray !important;
    text-align: right;
    font-size: 12px;
  }
  a:hover {
    color: $ucla-darkest-blue !important;
    text-align: right;
    font-size: 12px;
  }
}
.jumbotron {
  background-image: image-url('ucla_ladnn_cole_brothers_circus_elephants.jpg');
  background-size: cover;
  height: 600px;
  max-height: 600px;
  margin-bottom: 0px !important;
  z-index: -1000;
  margin-top: -6em;
}
