.post-content {
  text-align: center;
  font-size: xx-large;
  color: snow;
  border: 3px solid snow;
  padding: 1em;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 25%;
  right: 10%;
  bottom: 45%;
  left: 10%;
}

.thumbnail{
  position:relative;
}

.no-border {
  border: none;
}
