.post-content {
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 25%;
    margin-left: 21.2%;
    font-size: xx-large;
    color: white;
    border: 3px solid white;
    padding: 1em;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    min-width: 250px;
}

.thumbnail{
    position:relative;
}
