@media screen and (max-device-width: 480px) {
  #header-navbar {
    height: 85px;
  }

  .separator {
    display:none;
  }
}

@media screen and (min-device-width: 480px) {
  #header-navbar {
    height: 60px;
  }
}

.logo-links {
  margin-top: 1em;
  margin-left: -2.7em;
  li {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
  }

  .logo-digital-collections a {
    font-family: "Caslon 540", "Garamond", "Georgia", serif;
    color:snow;
    width: 300px;
    vertical-align: middle;
    margin-top: 12.5px;
  }
}

object[type*="svg"] {
  pointer-events: none;
}

.separator {
  vertical-align: middle;
  color: snow;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 2em;
  padding-right: 5px;
}
