@import "colors";

.site-navbar {
  background-color: $ucla-blue !important;
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;

  .navbar-logo-block {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-logo {
    width: 350px !important;
  }

  .beta-logo {
    color: #ffd100;
    font-weight: 700;
    position: relative;
    top: 0.22em;
    left: 0.4em;
    font-size: 1.25em;
    letter-spacing: 0.05em;
  }

  .nav-item a {
    color: $white !important;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    margin-right: 2em;

    &:hover {
      color: $ucla-gold !important;
      text-decoration: underline;
    }
  }

  .nav-item-feedback {
    a {
      color: $ucla-gold !important;
      font-weight: 600;
      letter-spacing: 0.05em;
    }
    a:hover {
      color: $ucla-gold !important;
      text-decoration: underline;
    }
  }
}

@media (max-width: 990px) {
  .navbar-toggler {
    border-color: transparent !important;
    outline: none !important;
  }

  .navbar-toggler.custom-toggler {
    padding-left: 0;
    padding-right: 0;
  }

  .custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,209,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }

  .site-navbar {
    .navbar-logo-block {
      height: 45px;
    }

    .nav-item a,
    .nav-item-feedback a {
      padding-left: 15px;
    }
  }

  .navbar-nav.nav {
    background-color: $ucla-darker-blue;
    display: inline-block;
    width: 100%;
    align-items: normal;
    position: static;
    margin-top: 20px;
  }

  .navbar-collapse {
    margin-bottom: -8px;
    min-width: 768px;
    position: relative;
    left: -15px;
  }

  .nav-item a {
    margin-right: 0;
  }

  .nav-item,
  .nav-item-feedback {
    padding-left: 30px;
    padding: 12px 0;
  }

  .nav-item:nth-child(1) {
    border-bottom: 1px solid #c3d7ee;
  }

  .nav-item:hover {
    background-color: $ucla-darkest-blue;
    a {
      color: $white !important;
      text-decoration: none;
    }
  }
}

@media (max-width: 576px) {
  .site-navbar {
    .navbar-logo {
      width: 250px !important;
    }

    .beta-logo {
      font-size: 1rem;
    }
  }
}

@media (max-width: 374px) {
  .site-navbar {
    .navbar-logo-block {
      flex-direction: column;
      justify-content: unset;
      align-items: flex-start;
    }
    .beta-logo {
      left: 0;
      top: 0;
    }
  }
}
