@import 'colors';

.navbar.navbar-expand-md.navbar-dark.bg-dark.topbar {
  background-color: $ucla-blue !important;
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
}

.navbar-logo-block {
  height: 44px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.navbar-brand {
  display: block;
  margin-left: 2px !important;
  background: transparent image_url('logo2.svg') no-repeat center !important;
  height: inherit !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  flex: unset !important;
  overflow: unset !important;
  width: 118px !important;
  .logo-name {
    display: none;
  }
}

.navbar-text-logo {
  font-weight: 300;
  position: relative;
  top: 0.16em;
  left: 0.7em;
  color: $white !important;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

.navbar-text-logo:visited {
  color: $white !important;
}

.navbar-text-logo:hover {
  color: $ucla-gold !important;
  text-decoration: underline;
}

.navbar-pipe::after {
  content: '|';
  position: relative;
  left: 0em;
  top: 0em;
  font-weight: 300;
  color: $ucla-lighter-blue;
}

.topbar {
  .nav-item a {
    padding-left: 30px;
    color: $white !important;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    margin-right: 1em;
  }

  .nav-item a:visited {
    color: $white !important;
  }

  .nav-item a:hover {
    color: $ucla-gold !important;
    text-decoration: underline;
  }

  .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.navbar > .container {
  flex-wrap: nowrap;
}

.navbar-nav.nav {
  align-items: center;
  position: absolute;
}

@media screen and (max-width: 719px) {
  .navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar > .container {
    max-width: 100%;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .navbar-nav.nav {
    background-color: $ucla-darker-blue;
    display: inline-block;
    width: 100%;
    align-items: normal;
    position: static;
    margin-top: 20px;
  }

  .navbar-collapse {
    margin-bottom: -8px;
    min-width: 768px;
    position: relative;
    left: -15px;
  }

  .nav-item a {
    margin-right: 0;
  }

  .nav-item {
    padding-left: 30px;
    padding: 8px 0;
  }

  .nav-item:nth-child(1) {
    border-bottom: 1px solid #c3d7ee;
  }

  .nav-item:hover {
    background-color: $ucla-darkest-blue;
    a {
      color: $white !important;
      text-decoration: none;
    }
  }

  .navbar-toggler {
    border-color: transparent !important;
    outline: none !important;
  }

  .navbar-toggler.custom-toggler {
    padding-left: 0;
    padding-right: 0;
  }

  .custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,209,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
}

@media (max-width:720px) and (min-width:990px) {
  .navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar > .container {
    max-width: 100%;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .navbar-nav.nav {
    background-color: $ucla-darker-blue;
    display: inline-block;
    width: 100%;
    align-items: normal;
    position: static;
    margin-top: 20px;
  }

  .navbar-collapse {
    margin-bottom: -8px;
    min-width: 768px;
    position: relative;
    left: -15px;
  }

  .nav-item a {
    margin-right: 0;
    background-color: green;
    color: white;
  }

  .nav-item {
    padding: 8px 0;
    .about {
      a {
        color: $white !important;
      }
      a:hover {
        color: $ucla-gold !important;
        text-decoration: underline;
      }
    }
  }

  .nav-item:nth-child(1) {
    border-bottom: 1px solid #c3d7ee;
  }

  .nav-item:hover {
    background-color: $ucla-darkest-blue;
    a {
      color: $white !important;
      text-decoration: none;
    }
  }
}

.give-us-feedback {
  padding: 10px 0px 10px 30px;
  a {
    color: $ucla-gold !important;
  }
  a:hover {
    color: $ucla-gold !important;
    text-decoration: underline;
  }
}