@import 'variables';

#search-bar-container {
  padding-bottom: 0 !important;
}

.ursus-search-bar {
  margin-top: 20px;
  padding: 0 !important;
  margin-top: -8px;
  .search-query-form {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
  }
}

.input-group {
  border: 10px solid #003b5c;
}

.input-group-append{
  background-color: $white;
}

.blacklight-catalog {
  .navbar-search {
    padding-left: 0;
  }
}

.new-search-link {
  padding-right: 15px;
  margin-right: 2px;
  float: right;
}

.back-to-search-link {
  margin-right: 20px;
  float: right;
  width: 175px !important;
}

.back-and-new-links-show {
  float: right;
  clear: left;
  padding-top: 6px;
  a {
    height: 30px;
    width: 138px;
    color: $ucla-darker-blue;
    background-color: $white;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: 1px solid $ucla-darker-blue;
    border-radius: 0px;
    }
    a:hover {
      height: 30px;
      width: 138px;
      color: $white !important;
      background-color: $ucla-darker-blue;
      font-family: Helvetica;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      border: 1px solid $ucla-darker-blue;
      border-radius: 0px;
      padding-bottom: 3px;
    }
}

.back-and-new-container {
  height: 46px;
  border-bottom: 1px solid #dee2e6;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

}

.previous-next {
  padding-left: 15px;
  padding-top: 6px;
  color: $ucla-blue;
}

.search-area {
  margin-top: 20px;
  display: flex;
  background-color: $ucla-lightest-blue;
  border-top: 6px solid $ucla-lightest-blue;
  .btn {
    background-color: $white;
  }
}
.search-ucla {
  margin-left: -15px;
  margin-top: -15px;
  max-width: 100%;
}
.search-breadcrumbs {
  margin-left: 10px;
  margin-top: -9px;
}
/* All Fields */
#search_field {
  background-color: $ucla-blue;
  color: $white;
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $ucla-lightest-blue;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .filter-box {
    display: block;
  }
}

.filters-applied {
  color: $ucla-darkest-blue;
  font-weight: 600;
}

#appliedParams {
  padding-top: 15px !important;

  .btn-group {
    margin-bottom: 0.35rem;

    .constraints-container {
      flex: 0 0 88% !important;
      max-width: 100% !important;
    }

    .constraint-value,
    .remove {
      color: $white !important;
      background: $ucla-blue !important;
      border: 0 !important;
    }
    .filter-name:after {
      color: $white !important;
    }
    .constraint-value:hover {
      color: $ucla-darkest-blue !important;
      background: $light-gray !important;
      .filter-name:after {
        color: $ucla-darkest-blue !important;
      }
    }
    .remove:hover {
      background: $ucla-gold !important;
      margin-left: -1px !important;
    }
  }
}

.startover-container {
  flex: 0 0 12% !important;
  max-width: 100px !important;
  align-self: center;
}
@media screen and (max-width: 767px) {
  .startover-container {
    padding-bottom: 10px;
  }
  .back-and-new-container {
    display: block !important;
    margin: 0px;

  }
  .back-and-new-links-show {
    display: block !important;
    align: left;
    margin: 5px 0px 30px 0px;
    float: left;
  }
  .pagination-search-widgets {
    margin-left: -15px;
  }
}

.space {
  height: 50px;
}
