@import "variables";

.site-searchbar {
  background-color: $ucla-darker-blue;
  height: 66px;
  max-height: 66px;

  :-ms-input-placeholder,
  ::-ms-input-placeholder,
  ::-webkit-input-placeholder,
  ::placeholder {
    font-size: 0.875rem;
    opacity: 0.8;
    padding-top: 1px;
    padding-left: 1px;
  }
}


.search-form {
  width: 100%;
  max-width: 990px;



  .custom-select {
    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='25px' height='25px' margin='0 auto' fill='%23800020' %3E%3Cpolygon points='0,0 25,0 12.5,25'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px !important;
    background-color: aqua;
    padding: 0 !important;
  }

  // Dropdown field
  #search_field {
    background-color: aquamarine;
    color: $white;
    font-weight: 600;
    padding-left: 1rem !important;
  }
}



@media (max-width: 576px) {
  .site-searchbar {
    ::placeholder {
      font-size: 0.75rem;
    }
  }
  .search-form {
    .custom-select {
      font-size: 0.75rem;
      min-height: 38px;
      padding: 0 1rem 0 0 !important;
    }
  }
}

// At mobile resolution of less than 375px, hide dropdown fields
@media (max-width: 374px) {
  #search_field {
    display: none;
  }
}
