@import "variables";

.filter-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $ucla-lightest-blue;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .filter-box {
    display: block;
  }
}

.filters-applied {
  color: $ucla-darkest-blue;
  font-weight: 600;
}

#appliedParams {
  padding-top: 15px !important;

  .btn-group {
    margin-bottom: 0.35rem;

    .constraints-container {
      flex: 0 0 88% !important;
      max-width: 100% !important;
    }

    .constraint-value,
    .remove {
      color: $white !important;
      background: $ucla-blue !important;
      border: 0 !important;
    }
    .filter-name:after {
      color: $white !important;
    }
    .constraint-value:hover {
      color: $ucla-darkest-blue !important;
      background: $light-gray !important;
      .filter-name:after {
        color: $ucla-darkest-blue !important;
      }
    }
    .remove:hover {
      background: $ucla-gold !important;
      margin-left: -1px !important;
    }
  }
}

.startover-container {
  flex: 0 0 12% !important;
  max-width: 100px !important;
  align-self: center;
}
@media screen and (max-width: 767px) {
  .startover-container {
    padding-bottom: 10px;
  }
  .back-and-new-container {
    display: block !important;
    margin: 0px;
  }
  .back-and-new-links-show {
    display: block !important;
    align: left;
    margin: 5px 0px 30px 0px;
    float: left;
  }
  .pagination-search-widgets {
    margin-left: -15px;
  }
}

.space {
  height: 50px;
}
