.item-label {
  color: $ucla-darkest-blue;
  font-weight: bold;
  margin-bottom: 2px;
}

.item-value{
  margin-bottom: 25px;
}

dd a {
  color: $ucla-blue;
  text-decoration: none;
}

.item-heading {
  padding-top: 15px;
}
