.pagination {
  margin-bottom: 0em;
}

.sort-pagination {
  margin-bottom: 0em;
  padding-bottom: 0em;
  border-bottom: none;
  padding: 10px 0px 0px 10px;
}

.sort-pagination,
  .pagination-search-widgets {
    border-bottom: 0px !important;
    margin-bottom: 0em;
  }

.rectangle {
  background-color: #f5f5f5;
  border: none;
}

a.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $ucla-darker-blue;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

ul.pagination {
  border-radius: 0px;
  flex-wrap: wrap;
}

a.page-link {
  color: $ucla-darker-blue;
}

a.active {
  background-color: green;
  border-color: #007bff;
}

h4 {
  padding: 0px;
  border-bottom: none;
}

.page-item.active .page-link {
  background-color: $ucla-blue !important;
  border-color: $ucla-blue !important;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0rem !important;
}
