@import 'colors';
//@import 'bootstrap/functions';
//@import 'bootstrap';
//@import 'bootstrap/variables';

$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 540px,
  // Medium screen / tablet
    md: 720px,
  // Large screen / desktop was 960
    lg: 990px,
  // Extra large screen / wide desktop
    xl: 1200px
);

// this affects the catalog results on the index page
$container-max-widths: (
  xs: 767px,
  sm: 990px,
  md: 991px,
  lg: 992px,
  xl: 1200px
);

//== Typography
$font-family-sans-serif: 'Helvetica', 'Arial', sans-serif;

//== Linked text colors
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $ucla-darker-blue !important;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: $ucla-darker-blue !important;
}

$grid-gutter-width: 15px !default;


//@import 'bootstrap';
