@import 'colors';

//== Typography
$system-font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Cantarell,Roboto,Oxygen-Sans,Ubuntu,"Helvetica Neue",sans-serif;
// See: http://brand.ucla.edu/brand/digital/typography/
$font-family-sans-serif: "ProximaNova-Regular", "Verdana", $system-font-stack;

//== Links
$link-color: $ucla-secondary-blue-dark;
$link-hover-color: $ucla-link-hover;

$navbar-inverse-link-color: snow;

$dark: $ucla-secondary-blue-dark;
