<div class='collection-masthead-overlay'>
  <h1>Sinai Digital Manuscripts</h1>
  <p>A collaboration of St. Catherine’s Monastery of the Sinai, Egypt, EMEL, and the UCLA Library, made possible by grants from Arcadia.<br><br>
 Constructed between 548 and 565 CE, St. Catherine’s Monastery of the Sinai is a UNESCO World Heritage Site and home to the world’s oldest continually operating library. Among its treasures are 160 known palimpsests. Palimpsests are recycled manuscripts. Ancient and medieval scribes would sometimes erase the writing from older manuscripts and reuse the pages to make new manuscripts. The erased layers of writing in Sinai’s palimpsests preserve ancient and medieval texts in 10 languages that date from the 5th to 12th century, nearly all of which had not been studied or identified until now.</p>
</div>
