<div class="collection-masthead" style="background-image: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.4)
),url(<%= image_path "saint-catherines-monastery-of-the-sinai.jpg" %>);">
    <%= render 'sinai/collection_masthead_overlay', document: @document, collection_count: @collection_count%>
</div>
