<!-- place this anchor at the spot you want to scroll to -->
<a id="scrollHere"></a>

<!-- this button is moved to the bottom right by css - do not scroll to this -->
<a class="fa fa-chevron-up canon-scroll-btn" href="#scrollHere"></a>

<script type="text/javascript">
  $(window).scroll(function () {

  <!-- fade in the button when scrolling past the anchor -->
    if ($(this).scrollTop() < $('#scrollHere').offset().top) {
      $('.canon-scroll-btn').fadeOut();
    } else {
      $('.canon-scroll-btn').fadeIn();
    }
  });

  <!-- Click event to scroll to anchor -->
  $('.canon-scroll-btn').click(function () {
    var $container = $("html,body");

    <!-- scroll to ID method (scrolls to the anchor that you placed, leaves a nice bit of space at the top) -->
    $container.animate({scrollTop: $('#scrollHere').offset().top, scrollLeft: 100},800);

    return false;
  });
</script>
