<div class="canon-table__pagination">
  <span class="canon-table__anchor"><a href="#md-a">A</a></span>
  <span class="canon-table__anchor"><a href="#md-b">B</a></span>
  <span class="canon-table__anchor"><a href="#md-c">C</a></span>
  <span class="canon-table__anchor"><a href="#md-d">D</a></span>
  <span class="canon-table__anchor"><a href="#md-e">E</a></span>
  <span class="canon-table__anchor"><a href="#md-f">F</a></span>
  <span class="canon-table__anchor"><a href="#md-g">G</a></span>
  <span class="canon-table__anchor"><a href="#md-h">H</a></span>
  <span class="canon-table__anchor"><a href="#md-i">I</a></span>
  <span class="canon-table__anchor"><a href="#md-j">J</a></span>
  <span class="canon-table__anchor"><a href="#md-l">L</a></span>
  <span class="canon-table__anchor"><a href="#md-m">M</a></span>
  <span class="canon-table__anchor"><a href="#md-n">N</a></span>
  <span class="canon-table__anchor"><a href="#md-o">O</a></span>
  <span class="canon-table__anchor"><a href="#md-p">P</a></span>
  <span class="canon-table__anchor"><a href="#md-q">Q</a></span>
  <span class="canon-table__anchor"><a href="#md-r">R</a></span>
  <span class="canon-table__anchor"><a href="#md-s">S</a></span>
  <span class="canon-table__anchor"><a href="#md-t">T</a></span>
  <span class="canon-table__anchor"><a href="#md-u">U</a></span>
  <span class="canon-table__anchor"><a href="#md-v">V</a></span>
  <span class="canon-table__anchor"><a href="#md-z">Z</a></span>
</div>
