  <div class="canon-table__pagination">
    <span class="canon-table__anchor"><a href="#ms-a">A</a></span>
    <span class="canon-table__anchor"><a href="#ms-b">B</a></span>
    <span class="canon-table__anchor"><a href="#ms-c">C</a></span>
    <span class="canon-table__anchor"><a href="#ms-d">D</a></span>
    <span class="canon-table__anchor"><a href="#ms-e">E</a></span>
    <span class="canon-table__anchor"><a href="#ms-f">F</a></span>
    <span class="canon-table__anchor"><a href="#ms-g">G</a></span>
    <span class="canon-table__anchor"><a href="#ms-h">H</a></span>
    <span class="canon-table__anchor"><a href="#ms-i">I</a></span>
    <span class="canon-table__anchor"><a href="#ms-j">J</a></span>
    <span class="canon-table__anchor"><a href="#ms-l">L</a></span>
    <span class="canon-table__anchor"><a href="#ms-m">M</a></span>
    <span class="canon-table__anchor"><a href="#ms-n">N</a></span>
    <span class="canon-table__anchor"><a href="#ms-o">O</a></span>
    <span class="canon-table__anchor"><a href="#ms-p">P</a></span>
    <span class="canon-table__anchor"><a href="#ms-q">Q</a></span>
    <span class="canon-table__anchor"><a href="#ms-r">R</a></span>
    <span class="canon-table__anchor"><a href="#ms-s">S</a></span>
    <span class="canon-table__anchor"><a href="#ms-t">T</a></span>
    <span class="canon-table__anchor"><a href="#ms-u">U</a></span>
    <span class="canon-table__anchor"><a href="#ms-v">V</a></span>
    <span class="canon-table__anchor"><a href="#ms-z">Z</a></span>
  </div>
