<div class='content-container--collection-page'>
  <div class='static-page__title-row'>
    <h2 class='static-page__title canon-law__title'>Corpus Juris Canonici (1582)</h2>
  </div>
  <div class="metadata-block">

    <p class='static-page__text'>The UCLA Libary Department of Special Collections is fortunate to have a complete set of the 1582 <em>Corpus Juris Canonici</em>, the "Body of Canon Law." These three volumes contain not only the medieval collections of laws&mdash;notably, Gratian's <em>Decretum</em> (ca. 1140), Gregory IX's <em>Liber Extra</em> (1234), and Boniface VIII's <em>Liber Sextus</em> (1298)&mdash;but also the elaborate Ordinary Glosses and further commentaries on the laws that take up the vast inner margins, with further annotations on outer margins. These glosses, which are absolutely essential to historians of law, have not been reprinted since the seventeenth century, and copies are scarce. The Library, with the support of the Center for Medieval and Renaissance Studies, undertook to digitize the entire set and make it available online.</p>
    <p class='static-page__text'>The project began under the direction of Howard Batchelor, former UCLA Digital Library Coordinator, with the guidance of UCLA's resident canonist, Professor Henry Ansgar Kelly (English), former CMRS Director and current Editor of CMRS's journal, <em>Viator</em>. Work later continued under Professor Kelly's direction, with contributions from Stephen Davison and Elizabeth McAulay, both in the UCLA Digital Library Program. A generous grant from the Gladys Krieble Delmas Foundation helped to support the project, and CMRS has provided additional funding.</p>
    <p class='static-page__text'>The digitized page images of all three volumes of the <em>Corpus Juris Canonici</em> are online at this site. Also included here are corrected and expanded (and searchable) versions of the two indexes of vol. 2 (<em>Liber Extra</em>); one index, the <em>Margarita</em>, is to the decretals, and the other, called <em>Materiae Singulares</em>, is to the Gloss.</p>
    <hr class='divider divider--ursus'>
  </div>

  <div class='static-page__title-row'>
    <h2 class='canon-law__subtitle'>Citation</h2>
  </div>
  <div class='metadata-block'>
    <div class='metadata-block__group--collection-pg'>
      <div class='metadata-block__label-value'>
        <em>Corpus juris canonici emendatum et notis illustratum.</em> Gregorii XIII. pont. max. iussu editum. Romae : In aedibus Populi Romani, 1582. 3 parts in 4 volumes.
        <ul class='static-page__list static-page__list--canon'>
          <li>Part I, in 2 volumes: <em>Decretum Gratiani</em></li>
          <li>Part II: <em>Decretales d. Gregorii papae IX</em></li>
          <li>Part III:</li>
          <ul class='static-page__list'>
            <li><em>Liber sextus Decretalium d. Bonifacii papae VIII</em></li>
            <li><em>Clementis papae V. Constitutiones</em></li>
            <li><em>Extravagantium viginti d. Joannis papae XXII tum communes</em></li>
	 </ul>
	</ul>
            Department of Special Collections, Charles E. Young Research Library, UCLA. Call number KBR1565 1582
      </div>
    </div>
    <div class='metadata-block__group--collection-pg'>
      <br><br>
      <div class="metadata-block__label-key">Electronic Edition</div>
      <div class="metadata-block__label-value">
        UCLA Digital Library Program. Corpus Juris Canonici (1582)
      </div>
    </div>
    <hr class='divider divider--ursus'>
  </div>
  <div class='static-page__title-row'>
    <h2 class='canon-law__subtitle'>Credits</h2>
  </div>
  <div class='metadata-block__group--collection-pg'>
    <div class='metadata-block__label-key'>Project Director</div>
    <div class='metadata-block__label-value'>
        <ul class='static-page__list static-page__list--canon'>
          <li>Henry Ansgar Kelly</li>
          <li>Library Collaborators
		<ul>
		<li>Howard Batchelor</li>
          	<li>Henry Chiong</li>
          	<li>Stephen Davison</li>
          	<li>Elizabet McAulay</li>
		</ul></li>
          <li>Funded in part by a grant from the <a href='http://delmas.org/' class='ur-link' target='_blank' rel='noopener'>Gladys Krieble Delmas Foundation</a>.</li>
        </ul>
    </div>
  </div>
  <hr class=' divider divider--ursus '>
</div>
