<div class='content-container--collection-page'>
  <div class='static-page__title-row'>
    <h2 class='static-page__title canon-law__title'>Corpus Juris Canonici (1582)</h2>
  </div>
  <div class="metadata-block">
    <p class='static-page__text'>UCLA's Charles E. Young Research Library is fortunate to have a complete set of the 1582 Corpus Juris Canonici, the "Body of Canon Law." These three volumes contain not only the medieval collections of laws—notably, Gratian's Decretum (ca. 1140), Gregory IX's Liber Extra (1234), and Boniface VIII's Liber Sextus (1298)—but also the elaborate Ordinary Glosses and further commentaries on the laws that take up the vast inner margins, with further annotations on outer margins. These glosses, which are absolutely essential to historians of law, have not been reprinted since the seventeenth century, and copies are scarce. The Library, with the support of the Center for Medieval and Renaissance Studies, undertook to digitize the entire set and make it available online.</p>

    <p class='static-page__text'>The project began under the direction of Howard Batchelor, former UCLA Digital Library Coordinator, with the guidance of UCLA's resident canonist, Professor Henry Ansgar Kelly (English), former CMRS Director and current Editor of CMRS's journal, Viator. Work is being carried on by Professor Kelly, Stephen Davison, Head of the UCLA Digital Library Program, and Lisa McAulay, Librarian for Digital Collection Development. A generous grant from the Gladys Krieble Delmas Foundation helped to support the project, and CMRS has provided additional funding.</p>

    <p class='static-page__text'>The complete text of all three volumes of the Corpus Juris Canonici is online at this site. Also included here are corrected and expanded (and searchable) versions of the two indexes of vol. 2 (Liber Extra); one index, the Margarita, is to the decretals, and the other, called Materiae Singulares, is to the Gloss. Various ways of searching the Gloss topics are being added.</p>

    <hr class='divider divider--ursus'>
  </div>

  <div class='static-page__title-row'>
    <h2 class='canon-law__subtitle'>Citation</h2>
  </div>
  <div class='metadata-block'>
    <div class='metadata-block__group--collection-pg'>
      <div class='metadata-block__label-key'>Source</div>
      <div class='metadata-block__label-value'>
        Corpus juris canonici emendatum et notis illustratum. Gregorii XIII. pont. max. iussu editum. Romae : In aedibus Populi Romani, 1582. 3 parts in 4 volumes.
        <ul class='static-page__list static-page__list--canon'>
          <li>Part I, in 2 volmues: Decretum Gratiani</li>
          <li>Part II: Decretales d. Gregorii papae IX</li>
          <li>Part III:</li>
          <ul class='static-page__list'>
            <li>Liber sextus Decretalium d. Bonifacii papae VIII</li>
            <li>Clementis papae V. Constitutiones</li>
            <li>Extravagantium viginti d. Joannis papae XXII tum communes</li>
            <li>Department of Special Collections, Young Research Library.</li>
            <li>Call number KBR1565 1582</li>
          </ul>
        </ul>
      </div>
    </div>
    <div class='metadata-block__group--collection-pg'>
      <div class="metadata-block__label-key">Electronic Edition</div>
      <div class="metadata-block__label-value">
        UCLA Digital Library Program. Corpus Juris Canonici (1582)
      </div>
    </div>
    <hr class='divider divider--ursus'>
  </div>
  <div class='static-page__title-row'>
    <h2 class='canon-law__subtitle'>Credits</h2>
  </div>
  <div class='metadata-block__group--collection-pg'>
    <div class='metadata-block__label-key'></div>
    <div class='metadata-block__label-value'>
        <ul class='static-page__list static-page__list--canon'>
          <li>Henry Ansgar Kelly, Project Director</li>
          <li>Howard Batchelor</li>
          <li>Henry Chiong</li>
          <li>Stephen Davison</li>
          <li>Lisa McAulay, Digital Library Program</li>
          <li>Funded in part by a grant from the <a href='http://delmas.org/' class='ur-link' target='_blank' rel='noopener'>Gladys Krieble Delmas Foundation</a>.</li>
        </ul>
      </div>
  </div>
  <hr class='divider divider--ursus'>
</div>
