<div class='content-container--static-page'>
  <div class='static-page__title-row'>
    <h2 class='static-page__title canon-law-center'>Margarita Decretalium</h2>
    <p class='static-page__text canon-law__text canon-law-center'>Index to the decretals of the Liber Extra
    <p class='static-page__text </p>canon-law__text canon-law-center'>Prepared by Henry Ansgar Kelly, with the assistance of Sherrylyn Branchaw, Thomas O'Donnell, and Jennifer Tran Smith.</p>
    <p class='static-page__text canon-law__text'>The Margarita Decretalium ("Pearls of the Decretals") is the index to the decretals of the Liber Extra, in contrast to the Materiae Singulares at the beginning of the volume, which is an index to the Ordinary Gloss (q.v.). The Margarita index seems to have been assembled during the late thirteenth century, some time before the appearance of the Liber Sextus in 1298. Most of the references to the legislation of Innocent IV (1243-54) and Gregory X (1272-76) are to their Novellae, even when specifying decretals that were incorporated into the Sext (their position in the Sext is indicated in the expanded edition of the Margarita below). Occasionally one does see a reference to the Sext (for instance in the entry, "Accusatio contra inopem," referring to Innocent IV's decretal Frequens from the Second Council of Lyons, Sext 2.5.1, but this is undoubtedly the work of later editors). Each entry in the original index gives only the title and chapter incipit of the relevant decretal, in addition to the column number; in the edited index below, the book, title, and chapter numbers have been added. Every entry has been checked for accuracy, and corrections made where needed.</p>

    <p class='static-page__text canon-law__text canon-law-center'>Margarita Decretalium Libellus admodum singularis omnes flosculos in ipsarum Decretalium textibus reconditos secundum alphabeti ordinem explicans</p>
  </div>
</div>
