<div class='content-container--static-page'>
  <div class='static-page__title-row'>
    <h2 class='static-page__title canon-law-center'>Materiae Singulares</h2>
    <p class='static-page__text canon-law__text canon-law-center'>Index to the Ordinary Gloss to Liber Extra</p>
    <p class='static-page__text canon-law__text canon-law-center'>Prepared by Henry Ansgar Kelly, with the assistance of Sherrylyn Branchaw, Thomas O'Donnell, and Jennifer A. T. Smith.</p>
  </div>
</div>
