<div class='content-container--collection-page'>
  <div class='content-container--static-page'>
    <div class='static-page__title-row'>
      <h2 class='static-page__title  canon-law__title'>Table of Contents</h2>
    </div>
    <p class='static-page__text canon-law__text'>Index to the Ordinary Gloss to Liber Extra</p>
  </div>
</div>
