.document__gallery-thumbnail--sinai {
  float: right;
  margin-bottom: 10px;
  padding-left: 0;

  img {
    width: 100px;
    height: 100px;
    object-fit: none;
  }
  @media (max-width: 766px) {
    padding-bottom: 1rem;
    text-align: center;
  }
}

.document__gallery-item-text-wrapper--sinai {
  a:hover {
    color: $sinai-red;
  }
}
