.facets__navbar--sinai {
  @media (max-width: 991px) {
    background-color: $sinai-primary;
  }
}

.facets__navbar-heading--sinai {
  padding-bottom: 1.5rem;
  font-size: $text-20;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid $gray-10;

  @media (min-width: 800px) {
    font-size: $text-24;
  }

  @media (max-width: 991px) {
    color: $white;
  }
}

@media (max-width: 991px) {
  .facets__svg-icon--sinai {
    stroke: $white;
    stroke-width: 0.05rem;

    path {
      fill: $white;
    }
  }
}

.facet-field__heading--sinai {
  font-weight: 400;

  a,
  a:active,
  a:visited {
    color: $sinai-primary;
  }

  a:hover {
    text-decoration: underline;
    color: $sinai-primary;
  }

  &.collapse-toggle[aria-expanded='true'] {
    background-color: $sinai-primary;
    border: 1px solid $sinai-primary;
    border-radius: 0;

    a,
    a:active,
    a:visited,
    a:hover {
      color: $white;
    }
  }
}

.facet-field__heading--sinai
.collapse-toggle[aria-expanded='true']
.facet-field {
  background-color: $sinai-primary;
  border: 1px solid $sinai-primary;
  border-radius: 0;

  h3 {
    color: $white;
  }
}

.facet-limit-active {
  .facet-field__heading--sinai {
    color: $white;
    background-color: $sinai-primary;

    &.collapse-toggle[aria-expanded='true'] {
      background-color: $sinai-primary;
    }
  }
}

.facet-field__heading--sinai.collapse-toggle::after {
  color: $white;
}

.facet-field__body--sinai {
  .btn {
    color: $sinai-primary;
    background-color: $sinai-secondary;
  }

  .remove-icon {
    color: $sinai-primary;
  }
}

.facet-label--sinai {
  a,
  a:active,
  a:visited {
    color: $sinai-primary;
  }
}

.more_facets--sinai {
  a,
  a:active,
  a:visited {
    color: $sinai-primary;
  }
}
