.metadata-block__label-key--sinai {
  @extend .col-sm-4;

  text-align: left;
  font-weight: 400;
}

.metadata-block__label-value--sinai {
  a {
    text-decoration: none;
    color: $sinai-primary;
  }

  a:visited {
    text-decoration: none;
    color: $sinai-primary;
  }

  a:hover {
    text-decoration: underline;
    color: $sinai-primary;
  }

  a:active {
    text-decoration: none;
    color: $sinai-primary;
  }
}
