.search-filter-wrapper--sinai {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: $font-light;
  border-bottom: unset;
}

.filter-group__label--sinai {
  background-color: $white;

  &:hover {
    background-color: $white;
  }
}

.filter-label-key--sinai::after {
  content: '❯';
}

.filter-label-remove--sinai {
  padding: 0;
  color: $sinai-primary;
  background-color: $white;

  &:visited {
    color: $sinai-primary;
    background-color: $white;
  }

  &:hover {
    color: $white;
    background-color: #b22222;
  }

  .remove-icon {
    font-size: 0.75rem;
    font-weight: 900;
  }
}
