.search-filter-wrapper--sinai {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  font-weight: $font-light;
  flex-direction: column;
  border-bottom: unset;
}

.filter-group__heading--sinai {
  padding-bottom: 0.75rem;
}

.filter-group__label--sinai {
  background-color: $white;

  &:hover {
    background-color: $white;
  }
}

.filter-label-key--sinai::after {
  content: '❯';
}

.filter-label-remove--sinai {
  margin-left: 0.5rem;
  padding: 0;
  color: #5b5b5b;
  background-color: $white;

  &:visited {
    color: #5b5b5b;
    background-color: $white;
  }

  &:hover {
    color: $white;
    background-color: #5b5b5b;
  }

  .remove-icon {
    font-size: 0.75rem;
    font-weight: 900;
  }
}
