.pagination-block--siani {
  background-color: $sinai-secondary;
}

.pagination__page-link--sinai {
  color: $gray-80;
  background-color: $white;
  border-color: $sinai-secondary-dk;

  &:visited {
    color: $gray-80;
    background-color: $white;
  }

  &:hover {
    color: $white;
    background-color: $sinai-grey;
    border-color: $sinai-grey;
  }
}

.pagination__page-item--sinai.active .pagination__page-link--sinai {
  color: $white;
  background-color: $sinai-grey;
  border-color: $sinai-grey;
}
