.document__gallery-thumbnail--sinai {
  img {
    width: 100px;
    height: 100px;
    object-fit: none;
  }
}

.document__gallery-item-text-wrapper--sinai {
  a:hover {
    color: $sinai-red;
  }
}

.document__gallery-more-results--sinai {
  a {
    @extend .btn-outline-sinai--red;
  }
}
