.metadata-wrapper-index--sinai {
  margin-right: 0;
  margin-left: 30px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.header-index--sinai {
  a {
    font-size: $text-sinai-19;
    font-weight: $font-medium;
    text-decoration: none;
    color: $sinai-primary;
  }

  a:visited {
    text-decoration: none;
    color: $sinai-primary-lt;
  }

  a:hover {
    text-decoration: underline;
    color: $sinai-primary;
  }

  a:active {
    text-decoration: none;
    color: $gray-80;
  }
}

.title-index--sinai {
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: $text-sinai-16;
  font-weight: $font-light;
  text-align: left;
  color: $gray-80;
  line-height: 1.3rem;

  a {
    font-size: $text-sinai-16;
    font-weight: $font-light;
    text-decoration: none;
    color: $gray-80;
  }

  a:visited {
    text-decoration: none;
    color: $gray-60;
  }

  a:hover {
    text-decoration: underline;
    color: $sinai-primary;
  }

  a:active {
    text-decoration: none;
    color: $gray-80;
  }
}

.metadata-block-index--sinai {
  display: flex;
}

.metadata-value-index--sinai {
  font-size: 0.9rem;
  font-weight: $font-light;
  color: $gray-80;

  a {
    font-size: 0.9rem;
    font-weight: $font-light;
    text-decoration: none;
    color: $gray-80;
  }

  a:visited {
    text-decoration: none;
    color: $gray-60;
  }

  a:hover {
    text-decoration: underline;
    color: $sinai-primary;
  }

  a:active {
    text-decoration: none;
    color: $gray-80;
  }
}

.icon-calendar-index--sinai {
  display: inline;
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 3px;
  width: $text-14;
  height: $text-14;
}

.icon-world-index-sinai {
  display: inline;
  margin-top: 2px;
  margin-right: 3px;
  margin-left: 3px;
  width: $text-14;
  height: $text-14;
}

.icon-people-index--sinai {
  display: inline;
  margin-top: 1px;
  margin-right: 3px;
  margin-left: 3px;
  width: $text-18;
  height: $text-18;
}

.metadata-block--sinai {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem;
}

.metadata-block_title--sinai {
  width: 33%;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.86px;
}

.metadata-block_value--sinai {
  display: flex;
  margin-left: auto;
  width: 66%;
  flex-wrap: wrap;

  span {
    padding: 2px 4px;
    border: 1px solid $sinai-black;
    border-radius: 0.25rem;

    i {
      padding-right: 5px;
    }
  }

  a:hover {
    text-decoration: underline;
    color: $sinai-primary;
  }
}
