.primary-metadata_tab-container--sinai {
  display: flex;
  flex-wrap: wrap; // make sure it wraps
  @media (max-width: 450px) {
    display: block;
  }
}

.primary-metadata_tab-container--sinai label {
  display: block;
  margin-right: 0.2rem;
  margin-bottom: unset;
  padding: 0.5rem;
  //background: #90caf9;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid $sinai-secondary;
  border-radius: 0.25rem;
  transition: background ease 0.2s;
  order: 1; // Put the labels first
  cursor: pointer;
  text-transform: uppercase;
}

.primary-metadata_tab-container--sinai .primary-metadata_tab-box--sinai {
  display: none;
  padding: 1rem;
  width: 100%;
  background: $sinai-secondary;
  order: 99; // Put the tabs last
  flex-grow: 1;
}

.primary-metadata_tab-container--sinai input {
  display: none;
}

.primary-metadata_tab-container--sinai input:checked + label {
  background: $sinai-secondary;
}

.primary-metadata_tab-container--sinai input:not(:checked) + label {
  &:hover {
    text-decoration: underline;
  }
}

.primary-metadata_tab-container--sinai
input:checked
+ label
+ .primary-metadata_tab-box--sinai {
  display: block;
}

@media (max-width: 45em) {
  .primary-metadata_tab-container--sinai .tab,
  .primary-metadata_tab-container--sinai label {
    order: initial;
  }

  .primary-metadata_tab-container--sinai label {
    margin-top: 0.2rem;
    margin-right: 0;
    width: 100%;
  }
}
