.document__list-title--ursus {
  a,
  a:visited {
    color: $ucla-darker-blue;
  }

  a:hover {
    color: $ucla-blue;
  }
}

.document__list-metadata-key--ursus {
  color: $ucla-darkest-blue;
}

.document__list-metadata-value--ursus {
  a,
  a:visited {
    color: $ucla-darker-blue;
  }

  a:hover {
    color: $ucla-blue;
  }
}
