.collection-grid {
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 100%;
  flex: 0 0 100%;

  @media (min-width: 992px) {
    padding-right: 0;
    padding-left: 0;
    max-width: 70%;
    flex: 0 0 70%;
  }

  @media (min-width: 1440px) {
    max-width: 75%;
    flex: 0 0 75%;
  }
}

.collection-grid__title {
  margin-bottom: 1.5rem;
  font-size: $text-36;
  font-weight: $font-bold;
  color: $ucla-darker-blue;

  @media (max-width: 991px) {
    font-size: calc(100% + 0.875rem);
  }

  @media (max-width: 767px) {
    font-size: $text-24;
  }
}

.collection-grid__wrapper {
  @extend .row;

  margin-bottom: 5rem;

  @media (max-width: 767px) {
    margin-bottom: 3rem;
  }
}

.collection-grid__item-wrapper {
  @extend .col-sm-6;
  @extend .col-xl-4;

  margin-bottom: 2rem;
  text-decoration: none;
  transition: all 300ms ease-in-out 0s;
  -webkit-transform: translateY(0);
  transform: translateY(0);

  &:hover {
    text-decoration: none;
    color: $gray-80;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  &:active,
  &:visited {
    text-decoration: none;
    color: $gray-80;
  }
}

.collection-grid__item-image {
  height: 375px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-item-one {
  background-image: image-url('home-collection-grid/la-times.jpg');
}

.grid-item-two {
  background-image: image-url('home-collection-grid/carteles-de-cine.jpg');
}

.grid-item-three {
  background-image: image-url('home-collection-grid/meap.jpg');
}

.grid-item-four {
  background-image: image-url('home-collection-grid/tule-lake.jpg');
}

.grid-item-five {
  background-image: image-url('home-collection-grid/cashin.jpg');
}

.grid-item-six {
  background-image: image-url('home-collection-grid/trade-cards.jpg');
}

.collection-grid__item-content {
  .grid-summary {

    // truncate to 3 lines - mostly but not universally supported
    display: -webkit-box;
    overflow: hidden;  

    // fallback for browsers that don't support line-clamp; won't have ellipsis
    max-height: 100px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.collection-grid__item-title {
  padding-top: 1.25rem;
  font-size: $text-20;
  font-weight: $font-bold;
}

.collection-grid__item-liner {
  border-top: 3px solid $ucla-gold;
  margin: 0.5rem 0 2rem;
  width: 100px;
}

.collection-grid__item-link {
  padding: 0.5rem 0 0;
  font-size: calc(100% - 0.25rem);
  font-weight: $font-bold;
  color: $ucla-blue;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    text-decoration: underline;
  }
}
