<div class="container-full--navbar site-navbar site-navbar--sinai-static-page">
  <nav class="navbar navbar-expand-md navbar-dark site-navbar__wrapper--sinai-static-page">
    <span></span>
    <button class="navbar-toggler navbar-toggler-icon--sinai-static-page" type="button" data-toggle="collapse" data-target="#navbarNavSinaiStaticPage" aria-controls='navbarNav' aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class='collapse navbar-collapse navbar-collapse--sinai-static-page' id='navbarNavSinaiStaticPage'>
    <ul class='navbar-nav--sinai-static-page'>
      <li class='site-navbar__item--sinai-static-page'>
        <a class='site-navbar__item-link--sinai-static-page' href='/sinai_about'>About</a>
      </li>


      <li class='site-navbar__item--sinai-static-page'>
      <a class='site-navbar__item-link--sinai-static-page' href='/manuscript_descriptions'>Manuscript Descriptions</a>
      </li>

      <li class='site-navbar__item--sinai-static-page'>
        <a class='site-navbar__item-link--sinai-static-page' href='/terms-of-use'>Terms of Use</a>
      </li>

      <li class='site-navbar__item--sinai-static-page'>
        <a class='site-navbar__item-link--sinai-static-page' href='/sinai_contact'>Contact Us</a>
      </li>

    </div>
  </nav>
</div>

<!-- https://stackoverflow.com/questions/24514717/bootstrap-navbar-active-state-not-working -->
<script type="text/javascript">
$('li.site-navbar__item--sinai-static-page a[href$="' + location.pathname + '"]').addClass('active--sinai-static-page-nav');
</script>
