<div class='static-container'>
  <div class='static-page-title'>
    <h2>Contact Us</h2>
    <div class='red-liner contact'></div>
  </div>

<h3>TO REQUEST PERMISSIONS</h3>
<p>Submit request to <span class='monastery'><strong>St. Catherine’s Monastery</strong></span> via sinaipermissions@gmail.com</p>
<ul>
  <li>To request <strong>permissions for reproducing images</strong> in print or electronic form</li>
  <li>To request written <strong>approval for preparing editions</strong></li>
</ul>
<p>Reference manuscript shelfmark(s) and folio number(s) in request</p>
<p>For information on crediting sources, see “Terms of Use” and “Citing Contributors”</p>

<hr class='divider__red'>

<h3>ABOUT USER REGISTRATION OR LOGIN</h3>
<p>Email the <span class='monastery'><strong>Early Manuscripts Electronic Library</span></strong> at sinai.id.emel@gmail.com</p>
<ul>
  <li>To <strong>report difficulties or ask questions</strong> about registration or login</li>
  <li>To <strong>delete your user account</strong></li>
</ul>
<p>To review how your data is used and protected, see the Privacy Policy associated with your user login, plus “Terms of Use”</p>

<hr class='divider__red'>

<h3>ABOUT WEBSITE CONTENT</h3>
<p>Email the <span class='monastery'><strong>Early Manuscripts Electronic Library</strong></span> at sinai.data.questions@gmail.com</p>

<hr class='divider__red'>

<h3>ABOUT WEBSITE FUNCTIONALITY</h3>
<p>Email the <span class='monastery'><strong>UCLA Digital Library Program</strong></span> at dlp@library.ucla.edu</p>

<hr class='divider__red'>

<h3>TO SHARE PUBLICATIONS</h3>
<p>Email <span class='monastery'><strong>St. Catherine’s Monastery</strong></span> at sinaipermissions@gmail.com</p>
<ul>
  <li>To <strong>share an electronic copy</strong> of publications based on images from the Sinai Palimpsests Project</li>
</ul>
<p>Send mail to: <span class='monastery'><strong>Saint Catherine’s Monastery of the Sinai</strong></span> 26 Doryleou, Ampelokipi, Athens 11521, Greece</p>
<ul>
  <li>To <strong>share a print copy</strong>—where no electronic version is available—of publications based on images from the Sinai Palimpsests Project</li>
</ul>

</div>
