<div class='static-container'>
  <div class='static-page-title'>
    <h2><%= t('static_pages.about.page_title') %></h2>
    <div class='yellow-liner about'></div>
  </div>

<!-- OUR MISSION -->
  <div class='row'>
    <div class='col-lg-4 static-page-subtitles'>
      <%= t('static_pages.about.mission').upcase %>
    </div>
    <div class='col-lg-8'>
      <div class='static-page-text'>
        The UCLA Digital Library Program (DLP) serves as the catalyst for the creation, management, and delivery of digital content in support of the UCLA Library mission and goals. The Program provides for the storage and dissemination of digital objects, including text, images, audio, and video in their various digital manifestations and combinations. The UCLA Library provides a web presence for digital collections, and provides storage, backup and digital preservation support for all digital content accepted into, or developed by, the Library.
      </div>
    </div>
  </div>

  <hr class='static-page'>
</div>
