<div class='static-page-title'>
  <h2><%= t('static_pages.about.page_title') %></h2>
  <div class='yellow-liner-about'></div>
</div>

<div class='row'>
  <div class='col-lg-4 static-page-titles'>
    <%= t('static_pages.about.mission').upcase %>
  </div>
  <div class='col-lg-8'>
    <div class='static-page-text'>
      The UCLA Digital Library Program (DLP) serves as the catalyst for the creation, management, and delivery of digital content in support of the UCLA Library mission and goals. The Program provides for the storage and dissemination of digital objects, including text, images, audio, and video in their various digital manifestations and combinations. The UCLA Library provides a web presence for digital collections, and provides storage, backup and digital preservation support for all digital content accepted into, or developed by, the Library.
    </div>
  </div>
</div>

<hr class='static-page'>

<div class='row'>
  <div class='col-lg-4 static-page-titles'>
    <%= t('static_pages.about.services').upcase %>
  </div>
  <div class='col-lg-8'>
    <div class='static-page-text'>
      <div class='text-header1'>Project Planning</div>
        Digital Library Program staff can provide assistance in the planning and management of digital projects. We work with faculty and various campus organizations to create digital collections to support both teaching and research. DLP staff can provide advice during the development of grant applications. Areas of expertise include: digitization standards, digitization costs, digitization methods, metadata standards, rights management, and usability issues.
      <div class='text-header'>Project Management</div>
        One of the keys to a successful project is strong project management. Once a digital project has been approved and funded, the Digital Library Program staff can work with the project team to assure proper management. DLP staff is experienced with the hiring and training of staff, establishing workflow and procedures, quality control, and budget management.
      <div class='text-header'>Production Partner</div>
        <a href="#">Southern Regional Library Facility</a>
        Digital Library Program staff can provide assistance in the planning and management of digital projects. We work with faculty and various campus organizations to create digital collections to support both teaching and research. DLP staff can provide advice during the development of grant applications. Areas of expertise include: digitization standards, digitization costs, digitization methods, metadata standards, rights management, and usability issues.
      <div class='text-header'>Digital Preservation and Access</div>
        The Digital Library provides backup and digital preservation support for all its collections. Digital master files are stored in their original, uncompressed format and can be made web accessible. Backup services are provided by Library Information Technology. In addition, the Library is working with the CDL Digital Preservation Program to provide for long-term preservation of the UCLA Library's digital assets.
    </div>
  </div>
</div>

<hr class='static-page'>

<div class='row'>
  <div class='col-lg-4 static-page-titles'>
    <%= t('static_pages.about.criteria').upcase %>
  </div>
  <div class='col-lg-8'>
    <div class='static-page-text'>
      These criteria have been adopted by the UCLA Library as an aid in evaluating whether projects will be a good return on investment, and to help in establishing a strong rationale when requesting support from internal or external sources.
      <br><br>
      The criteria are designed to assess strengths and weaknesses and promote an analytical approach, but they do not have equal weight, and not all may be relevant to any given project.
      <ul>
			  <li>The project provides significant support for UCLA research and instruction.</li>
        <li>There are faculty and library advocates for the project.</li>
        <li>The project's intrinsic value will ensure long-term use by a significant audience within and/or beyond the UCLA community.</li>
        <li>The project can be completed with available funding, or has the potential to generate funding through grants, donors, or other external fund sources.</li>
        <li>The project will strengthen or enhance an existing CDL or UCLA resource, become part of an important virtual collection, or support a national initiative such as those sponsored by Association of Research Libraries and Digital Library Federation.</li>
        <li>UCLA has intellectual property rights to the content and can manage any required restrictions to access, or can realistically solve any rights issues.</li>
        <li>The project falls within traditional areas of library service or moves our services in a direction consonant with the Library's strategic directions.</li>
        <li>The project advances sustainable models for scholarly publishing.</li><li>The project brings credit to UCLA library in a manner likely to generate further digital library projects and funding.</li>
        <li>The project has local or regional importance, and represents an effort only UCLA can initiate.</li>
        <li>The project is reasonable, practical, and achievable.</li>
        <li>The project saves money in the long term by eliminating the need to acquire resources, or by freeing up staff time.</li>
        <li>The project creates or sustains a partnership that the library will find valuable for future development.</li>
        <li>There is a compelling argument for digitizing material that is deteriorating.</li>
        <li>The project will expand our technical infrastructure or contribute to the development of national digital library standards.</li>
      </ul>
    </div>
  </div>
</div>

<hr class='static-page'>
