<div class='static-page-title'>
  <h2><%= t('static_pages.contact.page_title') %></h2>
  <div class='yellow-liner contact'></div>
</div>

<div class='row'>
  <div class='col-lg-4 static-page-titles'>
    <%= t('static_pages.contact.collection_inquires').upcase %>
  </div>
  <div class='col-lg-8'>
    <div class='static-page-text'>
      For inquiries related to digital collections content or to request reproductions or permissions to publish, please contact the item's holding repository.
    </div>
  </div>
</div>

<hr class='static-page'>

<div class='row'>
  <div class='col-lg-4 static-page-titles'>
    <%= t('static_pages.contact.special_collections').upcase %>
  </div>
  <div class='col-lg-8'>
    <div class='static-page-text'>
      Users can find information on requesting reproductions, as well as the "Request to Publish Form" on their Special Collections Reproductions page, or you can email spec-coll@library.ucla.edu.
    </div>
  </div>
</div>

<hr class='static-page'>

<div class='row'>
  <div class='col-lg-4 static-page-titles'>
    <%= t('static_pages.contact.not_working').upcase %>
  </div>
  <div class='col-lg-8'>
    <div class='static-page-text'>
      If you experience any technical issues, please let us know here.
    </div>
  </div>
</div>

<hr class='static-page'>
