<div class='static-page-title'>
  <h2><%= t('static_pages.updates.page_title') %></h2>
  <div class='yellow-liner updates'></div>
</div>

<div class='row'>
  <div class='col-lg-4 static-page-subtitles'>
    <%= t('static_pages.updates.migration_updates').upcase %>
  </div>
  <div class='col-lg-8'>
    <div class='static-page-text'>
      Migration updates...
    </div>
  </div>
</div>

<hr class='divider__blue'>
