<div class='content-container--static-page'>
<div class='static-page__title-rowe'>
  <h1 class='static-page__title bordered-title bordered-title--ursus'><%= t('static_pages.privacy.page_title') %></h1>
</div>

<div class='row static-page__row'>
  <div class='col-lg-4 static-page__subtitle'>
    <%= t('static_pages.privacy.privacy_statement').upcase %>
  </div>
  <div class='col-lg-8'>
    <div class='static-page__text'>
      UCLA encourages the use of the UCLA Library site and other UCLA sites as a way to share information and knowledge in support of the university's mission of education, research, and public service. These sites are owned by the Regents of the University of California and operated by UCLA. While most sites are publicly accessible, certain services and information offered online may be restricted to specific users or segments of the UCLA population.
    <br><br>
      Your privacy while using the UCLA Library and its website is an important element of your intellectual and academic freedom. In the course of providing services and circulating library materials, the Library acquires information about you such as your name, university ID, and the services and materials you use. When it is necessary to identify users, it is the Library's goal to gather only the minimum information necessary and to retain that information only as long as is needed to complete the transaction. The Library is supported in this goal by national and state laws as well as through UC and campus policies.
    <br><br>
      In addition, the UCLA Library routinely collect information to help improve functionality and navigation and to monitor performance. Examples of such information collected by the UCLA Library we site include:

      <ul>
        <li>your Internet location (IP address)</li>
        <li>which pages on the site you visit</li>
        <li>the URL of the web page from which you came to the site</li>
        <li>which software you use to visit the site and its configuration</li>
      </ul>

      This type of data is not personally identifiable.
    <br><br>
      The Library website links to other sites and services that are not contained nor controlled within the Library's online environment. Where the Library contracts with vendors for digital information products and resources, every attempt is made to include user privacy protections in the license agreements. However, the practices of these external sites are not under the control of the Library; thus, users are encouraged to read the privacy statements at those sites to learn of their privacy practices.
    </div>
  </div>
</div>

<% if Flipflop.sinai? %>
    <hr class='divider__red'>
  <% else %>
    <hr class='divider divider--ursus'>
  <% end %>

</div>
