<div class='content-container--static-page'>
  <!--Content container to hold Sinai static page navigation-->
  <div class='content-container--sinai-static-page'>
    <%= render 'sinai_secondary_nav' %>
    <!--Start static content-->
    <div class="sinai-static-page-inner-container">
      <div class='static-page__title-row'>
        <h1 class='static-page__title--sinai'>About the Project</h1>
      </div>

      <div class='static-page__row'>
        <p class='static-page__text static-page__text--sinai'>
            The Sinai Manuscripts Digital Library is a publication of St. Catherine’s Monastery of the Sinai, Egypt, in collaboration with the UCLA Library and Early Manuscripts Electronic Library (EMEL). It hosts online the results of the Sinai Library Digitization Project, a ten-year collaborative effort to digitize the unparalleled manuscript library of St. Catherine’s Monastery.
        </p>
        <p class='static-page__text static-page__text--sinai'>
          St. Catherine’s Monastery of the Sinai preserves one of the world’s oldest continually operating libraries. It holds some 4,559 manuscript codices, with works in 13 languages written from the 4th to the 19th century. These include the New Finds, a cache of approximately 1,100 fragmentary manuscripts discovered in 1975 when monks cleared debris from an earthquake-damaged room in the north wall of the Monastery.
        </p>
        <p class='static-page__text static-page__text--sinai'>
            The Sinai Library Digitization Project is digitizing the Monastery’s manuscripts in two phases:
        </p>
        <div class='metadata-block metadata-block-list'>
          <dl class='metadata-block__group metadata-block__group-list'>
              <dt class="metadata-block__label-key">
              Phase One
                <dd class="metadata-block__label-value metadata-block__label-value--sinai">
                Arabic and Syriac manuscripts
                </dd>
              </dt>
              <dt class="metadata-block__label-key">
                <dd class="metadata-block__label-value metadata-block__label-value--sinai">
                1,172 codices (400,000 pages)
                </dd>
              </dt>
              <dt class="metadata-block__label-key">
                <dd class="metadata-block__label-value metadata-block__label-value--sinai">
                February 2018 through March 2022
                </dd>
              </dt>
            </dl>
            <dl class='metadata-block__group metadata-block__group-list'>
              <dt class="metadata-block__label-key">
              Phase Two
                <dd class="metadata-block__label-value metadata-block__label-value--sinai">
                Greek, Georgian, Slavonic and other languages
                </dd>
              </dt>
              <dt class="metadata-block__label-key">
                <dd class="metadata-block__label-value metadata-block__label-value--sinai">
                3,387 codices (1.1 million pages)
                </dd>
              </dt>
              <dt class="metadata-block__label-key">
                <dd class="metadata-block__label-value metadata-block__label-value--sinai">
                <i>Dates to be determined</i>
                </dd>
              </dt>
            </dl>
        </div>
        <p class='static-page__text static-page__text--sinai static-page__text--sinai-list'>
            The project benefits from the contributions of digital imaging scientists and technicians, conservators, consulting scholars, librarians, program managers, and software designers in Greece, Egypt, the U.S., and some seven other countries. Phase One is funded by generous grants and gifts from the Ahmanson Foundation, Arcadia, the Museum of the Bible Scholar’s Initiative, and the Steinmetz Family Foundation.
        </p>
      </div>

      <hr class='divider'>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>St. Catherine's Monastery and Its Library</h3>
          <p class='static-page__text static-page__text--sinai'>
            Located in Egypt’s Sinai Peninsula, the Orthodox “Sacred Monastery of the God-Trodden Mount Sinai,” commonly known as St. Catherine’s Monastery of the Sinai, is one of the world’s oldest monasteries and a UNESCO World Heritage Site. In the 6th century the Byzantine Emperor Justinian founded the Monastery and built it to approximately its current form, though monks had occupied the site by the 4th century. From the 4th century until today, the monks of Sinai have celebrated the Orthodox liturgy in unbroken continuity and have welcomed pilgrims from around the world, which accounts for the diversity of languages represented in its library.
          </p>
          <p class='static-page__text static-page__text--sinai'>
            Protected by its remote location on the Sinai Peninsula and its centuries-old bond with its Muslim neighbors, the Monastery preserves one of the world’s most important libraries. Its 4,559 manuscripts date from the 4th to the 19th century and are surprisingly diverse. Containing texts in 13 languages, they cover a range of genres, including books of the Bible, liturgy, hagiography, patristics, spirituality, and history, as well as a small but important number of classical poetic, scientific and philosophical texts. The Monastery’s collection of Greek manuscripts is considered to be second only to that of the Vatican, and the Monastery preserves arguably the most important collection of early Syriac and Christian Arabic manuscripts. Together the manuscripts of St. Catherine’s Monastery provide unparalleled evidence for the literature and history of Christians in the Eastern Mediterranean and shed light on the relations between Christian and Muslim communities.
          </p>
      </div>

      <div class='static-page__row'>
          <h3 class='static-page__subtitle static-page__subtitle--sinai'>Manuscript Digitization and Online Access</h3>
          <p class='static-page__text static-page__text--sinai'>
            St. Catherine’s Monastery of the Sinai, EMEL, and the UCLA Library are now collaborating to digitize the Monastery’s unparalleled manuscript collection and to make the resulting images accessible in an online, searchable digital library. In Phase One (February 2018 through spring 2022), EMEL is digitizing the Monastery’s Arabic and Syriac manuscripts (1,172 codices / 400,000 pages). In Phase Two, EMEL will digitize the Monastery’s collections of manuscripts in Greek, Georgian, Slavonic, and other languages (3,387 codices / 1.1 million pages).
          </p>
          <p class='static-page__text static-page__text--sinai'>
            The UCLA Library is creating an online, searchable digital library of the manuscripts that will enable users to search metadata collected from a variety of sources, identify manuscripts of interest, and then zoom in and pan across images and compare images of different manuscripts. Projects to undertake new scholarly cataloging of the manuscripts are in the planning stages but are beyond the scope of the current digitization project. Complete sets of the collected images are deposited at the Monastery in the Sinai, at the Monastery’s Athens office, and with the UCLA Library.
          </p>
          <p class='static-page__text static-page__text--sinai'>
            By these means, the Sinai Manuscripts Digital Library will preserve the contents of the Monastery’s unique manuscript library and enable scholars and interested persons around the world to study high-quality images of the manuscripts and add to our knowledge of the Monastery’s library and its history.
          </p>
      </div>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Digitization Standards and Methods</h3>
        <p class='static-page__text static-page__text--sinai'>
          The project has installed four digitization workstations in a large room graciously provided by the Monastery and recently renovated by the Saint Catherine Foundation. Digitization personnel undertake six four-week imaging sessions annually. Captured images range from 600 to 1,100 ppi depending on the size of manuscript and meet or exceed relevant standards.
          </p>
          <p class='static-page__text static-page__text--sinai'>
            The first consideration when digitizing medieval manuscripts, especially in the low-humidity conditions of the Sinai, is the safe handling of the manuscripts. To accommodate manuscripts in different states of preservation, the project is operating two different materials handling solutions.
          </p>
          <p class='static-page__text static-page__text--sinai'>
            <i>The Preservation Book Cradle (PBC)</i> by Stokes Imaging (Austin, TX) is designed to support fragile parchment codices. It uses computer-controlled motors to rotate the spine of a fragile codex, following the natural movement of the codex as its pages are turned.
          </p>
          <p class='static-page__text static-page__text--sinai'>
            <i>Modified BC100</i> by Digital Transitions (New York) supports the efficient digitization of stable codices by using two cameras to capture both pages of an open book simultaneously. To make the BC100 appropriate for medieval manuscripts, EMEL introduced a customized frame that restrains fragile folios with flexible tabs.
          </p>
          <p class='static-page__text static-page__text--sinai'>
          <div class="grid__img-wrapper--sinai-about2"></div>
          <div class="grid__img-wrapper--sinai-caption">
            <i>Digitization room at St. Catherine’s Monastery with four imaging stations: two Preservation Book Cradles by Stokes Imaging on the left and in the center; and two dual-camera BC100s by Digital Transitions on the far right (Photo provided by Damianos Kasotakis)</i>
          </div>
          </p>
      </div>

      <div class='static-page__row'>
        <h3 class='static-page__subtitle static-page__subtitle--sinai'>Consulting Conservators</h3>
        <p class='static-page__text static-page__text--sinai'>
        Consulting conservators review and monitor the protocols and procedures that guide the selection, handling and tracking of manuscripts during the digitization process. They reviewed the two types of digitization system and the protocols for handling manuscripts on both, as well as compared the environmental conditions between the library and the digitization room to ensure that manuscripts can be safely transferred between the two locations. Consulting conservators also work with the Monastery Librarian to evaluate fragile codices prior to digitization.
        </p>
        <p class='static-page__text static-page__text--sinai'>
          <div class="grid__img-wrapper--sinai-about1"></div>
          <div class="grid__img-wrapper--sinai-caption">
            <i>Camera operator using a dual-camera BC100, with modifications by EMEL, at St. Catherine's Monastery (Photo provided by Father Justin Sinaites)</i>
          </div>
        </p>
        <p class='static-page__text static-page__text--sinai'>
          <div class="grid__img-wrapper--sinai-about3"></div>
          <div class="grid__img-wrapper--sinai-caption">
            <i>Camera operator using a Preservation Book Cradle by Stokes Imaging, designed for fragile codices, at St. Catherine's Monastery (Photo provided by Damianos Kasotakis)</i>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
