<div class='content-container--static-page'>
  <div class='static-page__title-row'>
    <h1 class='static-page__title bordered-title bordered-title--ursus'><%= t('static_pages.about.page_title') %></h1>
  </div>

<!-- OUR MISSION -->
  <div class='static-page__row'>
    <div class='static-page__subtitle'>
      <%= t('static_pages.about.mission').upcase %>
    </div>
    <div class='static-page__text static-page__text--ursus'>
      The UCLA Digital Library Program works collaboratively within the UCLA Library, across campus, and with a broad range of partners to preserve and provide enhanced access to local and global cultural heritage materials in support of the University’s teaching, learning, research and service mission.
      <br>
      <br>
      UCLA Digital Library Collections follow ethical and inclusive approaches to descriptive practices as outlined in UCLA Library’s <%= link_to 'Policy on Ethical Description', 'https://www.library.ucla.edu/about/policies/ethical-description/', class: 'ur-link', target: '_blank' %>.
    </div>
  </div>

  <hr class='divider divider--ursus'>
</div>
