<div class='content-container--static-page'>
  <div class='static-page__title-row'>
    <h1 class='static-page__title bordered-title bordered-title--ursus'><%= t('static_pages.copyright_and_collections.page_title') %></h1>
  </div>

  <div class='static-page__row static-page__row--ursus'>
    <div class='static-page__subtitle'>
      <%= t('static_pages.copyright_and_collections.permission_to_publish').upcase %>
    </div>
      <div class='static-page__text static-page__text--ursus'>
      The UCLA Digital Library does not handle requests for reproductions or permissions to publish. All requests for reproductions or permissions to publish should be directed to the item's holding repository. In most cases, the owning repository is the UCLA Library Special Collections unit. Users can find information on requesting reproductions, as well as the "Request to Publish Form" on the "<a href="https://www.library.ucla.edu/about/policies/lsc-duplication-and-copyright-policies/ " class="ur-link">Special Collections Reproductions</a>" page, or you can email askLSC@library.ucla.edu.
      </div>
  </div>

  <div class='static-page__row static-page__row--ursus'>
    <div class='static-page__subtitle'>
      <%= t('static_pages.copyright_and_collections.copyright_statement').upcase %>
    </div>
      <div class='static-page__text static-page__text--ursus'>
        Materials in this collection may be protected by domestic and/or international copyright and property laws. Distribution or reproduction of copyrighted materials beyond that allowed by fair use requires the written permission of the copyright owners. To the extent that restrictions other than copyright apply, permission for distribution or reproduction from the applicable rights holder is also required. Responsibility for obtaining permission, and for any use, rests exclusively with the user.
      </div>
  </div>

  <div class='static-page__row static-page__row--ursus'>
    <div class='static-page__subtitle'>
      <%= t('static_pages.copyright_and_collections.opt_out_procedure').upcase %>
    </div>
      <div class='static-page__text static-page__text--ursus'>
        Your content helps us fulfill the UCLA Library mission of preserving and providing access to important cultural, political, and public health records. We urge you to let us preserve and make it available and accessible.<br><br>

        If your material has been included in our digital collections, you can request that we limit its public access. We ask that you consider this option very carefully. Should you decide that your content should be removed from our pages, we will continue to preserve it. For more information, contact: copyright@library.ucla.edu.
      </div>
  </div>
