<div>
  <h4>Version <span title="<%= GIT_SHA %>"><%= BRANCH %> updated <%= LAST_DEPLOYED %></span></span></h4>
</div>

<p>

<%= button_to 'Collections Index Page', '/catalog?f%5Bhas_model_ssim%5D%5B%5D=Collection&view=list'%>
