.content-container--home-page {
  @extend .row;

  padding-bottom: 4rem;
}

.home-page__subtitle {
  @extend .col-12;

  font-size: $text-36;
  font-weight: $font-bold;

  @media (max-width: 767px) {
    font-size: $text-28;
  }
}

.home-page__text {
  @extend .col-12;

  font-size: $text-18;

  @media (max-width: 991px) {
    font-size: $text-16;
  }
}

.home-page-grid {
  @extend .col;
}

.home-page-grid__row {
  @extend .row;
}
