.content-container--item-page {
  padding-bottom: 4rem;
}

.item-page__pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;

  @media (max-width: 450px) {
    display: block;
  }
}

.item-page__pagination-widgets {
  @media (max-width: 450px) {
    margin-bottom: 1rem;
  }
}

.item-page__title {
  margin-bottom: 0.5rem;
  font-size: $text-28;

  @media (max-width: 767px) {
    font-size: calc(100% + 0.875rem);
  }

  @media (max-width: 567px) {
    font-size: $text-24;
  }
}

.item-page__content-wrapper {
  margin-top: 2rem;
}

.item-page__metadata-wrapper {
  @extend .row;

  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;
}

.item-page__primary-metadata,
.item-page__secondary-metadata {
  @extend .col-md-12;

  padding-top: 1.5rem;
}

.item-page__primary-metadata {
  @extend .col-lg-6;
}

.item-page__secondary-metadata {
  @extend .col-lg-5;

  align-self: baseline;
  background-color: $gray-40;
}
