.content-container--static-page {
  padding-bottom: 4rem;
}

.static-page__title-row {
  display: inline-block;
  margin-bottom: 1.5rem;

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.static-page__title {
  font-size: $text-36;
  font-weight: $font-bold;

  @media (max-width: 767px) {
    font-size: calc(100% + 0.875rem);
  }
}

.static-page__row {
  padding: 1.5rem 0;
}

.static-page__subtitle {
  font-size: $text-20;
  letter-spacing: 0.15rem;

  @media (max-width: 991px) {
    margin-bottom: 1rem;
  }
}

.static-page__text {
  margin-bottom: 1rem;
  font-size: $text-18;
  line-height: 2;

  @media (max-width: 991px) {
    font-size: $text-16;
  }
}

.static-page__list {
  padding-left: 24px;
  font-size: $text-18;
}
