.site-container {
  display: flex;
  flex-direction: column;
}

.container-full {
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0 1.5rem;
  }

  @media (min-width: 992px) {
    padding: 0 3.25rem;
  }
}

// This container allows the site navbar dropdown menu to span full width without a break in background color.
@media (max-width: 991px) {
  .container-full--navbar {
    padding: 0;
  }
}

// Mimics Bootstrap .container class; breakpoints modified to decrease negative space for site body content (excludes header, footer)
.container-constrained {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;

  @media (min-width: 599px) {
    max-width: calc(100vw - 100px);
  }

  @media (min-width: 1920px) {
    max-width: 1760px;
  }
}

.main-content-container {
  margin-top: 4.25rem;
  margin-bottom: 4.25rem;

  @media (max-width: 991px) {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
  }

  @media (max-width: 767px) {
    margin-top: 2.25rem;
    margin-bottom: 3.25rem;
  }
}
