<div class="content-container--error-page">
  <div class="error-page__title-row">
    <h1 class="error-page__title">Page not found.</h1>
  </div>

  <div class="error-page__title-row">
    <h4>
      We can’t find the page you are looking for, but we're here to help. Try
      these regularly visited links.
    </h4>
  </div>

  <ul>
    <li><a href="#">UCLA Library Digital Collections Home</a></li>
    <li><a href="#">UCLA Library Home</a></li>
    <li><a href="#">Research Help</a></li>
    <li><a href="#">Ask a Librarian</a></li>
    <li><a href="#">Accessibility Resources</a></li>
  </ul>
</div>
