<div class="content-container--error-page">
  <div class="error-page__title-row">
    <h1 class="error-page__title">Page not found.</h1>
  </div>

  <div class="error-page__title-row">
    <h4>
      We can’t find the page you are looking for, but we're here to help. Try
      these regularly visited links.
    </h4>
  </div>

  <ul>
    <li><a href="https://digital.library.ucla.edu/">UCLA Library Digital Collections Home</a></li>
    <li><a href="https://www.library.ucla.edu/">UCLA Library Home</a></li>
    <li><a href="https://www.library.ucla.edu/help/research-help/">Research Help</a></li>
    <li><a href="https://www.library.ucla.edu/help/services-resources/ask-us/">Ask a Librarian</a></li>
    <li><a href="https://www.ucla.edu/accessibility/">Accessibility Resources</a></li>
  </ul>
</div>
