<% if collection?(@document) %>
<div class="row branding-banner-list">
  <div class="col-xs-12">
    <div class="container">
      <div id="banner">
        <div class="banner-image">
          <i><%= render_banner_tag(@document) %></i>
        </div>
      </div> <!-- end banner -->
    </div> <!-- end container -->
  </div> <!-- end row branding-banner-list -->
</div>
<br/>
<% end %>
