<% if query_has_constraints? %>
  <div id='appliedParams' class='clearfix constraints-container'>

    <h2 class='sr-only'><%= t('blacklight.search.search_constraints_header') %></h2>
    <span class='filters-applied'>Filters Applied: </span>
    <%= render_constraints(params) %>

  </div>
<% end %>
