<!-- This pagination does not use the kaminari gem,
     it is implementing the previous/next here and using bootstrap for styling. -->

<ul class="modal-pagination">
  <li class='modal-pagination__page-item modal-pagination__page-item--ursus'>
    <%= link_to_previous_page @pagination, raw(t('views.pagination.previous')), params: search_state.to_h, param_name: blacklight_config.facet_paginator_class.request_keys[:page], class: 'modal-pagination__page-link modal-pagination__page-link--ursus', data: { blacklight_modal: "preserve" } do %>
      <%= content_tag :span, raw(t('views.pagination.previous')), class: 'disabled btn-base btn-base-outline--light' %>
    <% end %>
  </li>
  <li class='modal-pagination__page-item modal-pagination__page-item--ursus'>
    <%= link_to_next_page @pagination, raw(t('views.pagination.next')), params: search_state.to_h, param_name: blacklight_config.facet_paginator_class.request_keys[:page], class: 'modal-pagination__page-link modal-pagination__page-link--ursus', data: { blacklight_modal: "preserve" } do %>
      <%= content_tag :span, raw(t('views.pagination.next')), class: 'disabled btn-base btn-base-outline--light' %>
    <% end %>
  </li>
</ul>
