<% if counter = document_counter_with_offset(document_counter) %>
  <div class='metadata-value-index--sinai'>
    <header class="header-index--sinai">  
    <a href='#' data-toggle='modal' data-target='#exampleModalCenter'>
     <%= link_to document[:genre_tesim], document, class:"title-index--sinai" %>
      </a>
    </header>
    <%= link_to document[:date_created_tesim], document, class:"title-index--sinai" %>
  </div>
<% end %>


<a href='#' data-toggle='modal' data-target='#exampleModalCenter'>