<%# index_header.html.erb / header bar for doc items in index view -%>
<hr>
<div class = 'gallery'>
<header class = 'row gallery'>
  <%= link_to_document document, :class => 'gallery-title' %>
</header>
</div>
<!---
<%# doc_presenter = index_presenter(document) %>
<%# index.html.erb / default partial to display solr document fields in catalog index view -%>
<dl class='document-metadata row'>
  <%#= field_name.parameterize %> col-md-9'><%#= doc_presenter.field_value field %></dd>
  <%# end -%>
</dl>
-->
