<% if counter = document_counter_with_offset(document_counter) %>
  <div class='metadata-value-index--sinai'>
    <header class="header-index--sinai"> 
     <%= link_to document['shelfmark_ssi'], document, class:"title-index--sinai" %>
    </header>
    <%= document['date_created_tesim'][0] %> | <%= document['extent_tesim'][0] %>
  </div>
<% end %>


<a href='#' data-toggle='modal' data-target='#exampleModalCenter'>