<div class='sinai-homepage-masthead jumbotron jumbotron-fluid mb-0'>
</div>

<div class="container">
  <div class="row page-lead">
    <p>St. Catherine’s Monastery of the Sinai, in partnership with the Early Manuscripts Electronic Library (EMEL) and the UCLA Library, welcomes you to the Sinai Manuscripts Digital Library. Widely recognized as the world’s oldest continually operating library, St. Catherine’s holdings represent an unparalleled resource to study the history and literature of the Eastern Mediterranean from late antiquity until early modernity.</p>
  </div>
  <hr class="divider__callisto--beige">
</div>



