<!-- Home page banner -->
<% if current_page?(root_path) %>

  <div class='banner__homepage--ursus'>
    <div class='banner__overlay--ursus'>
      <h1 class='banner__title--ursus-home'>
        <span>UCLA LIBRARY</span><br>
        <span>DIGITAL COLLECTIONS</span>
      </h1>
    </div>

    <span class="banner__caption--ursus">
    <a href="catalog/n4wr2000zz-89112">UCLA students with signs, one reading "Money for Minds not Bombs" during Veteran's Day teach-in on nuclear weapons in Los Angeles, Calif., 1981</a>
    </span>
  </div>

<% end %>

<!-- Collection page banner -->
<% if controller.controller_name == 'catalog' && @document && @document[:has_model_ssim] && @document[:has_model_ssim][0] == 'Collection' %>
  <%= render 'catalog/collection_banner--ursus' %>
<% end %>
