<div class='content-container--home-page'>
  <div class='lede__row'>
    <p class='lede__text--homepage'>St. Catherine’s Monastery of the Sinai, in partnership with the Early Manuscripts Electronic Library (EMEL) and the UCLA Library, welcomes you to the Sinai Manuscripts Digital Library. Widely recognized as the world’s oldest continually operating library, the manuscript holdings of St. Catherine’s Monastery represent an unparalleled resource to study the history and literature of the Eastern Mediterranean from late antiquity until early modernity.</p>
    <hr class="divider divider--sinai">
  </div>

  <h2 class="home-page__subtitle home-page__subtitle--sinai">Explore</h2>

  <div class="home-page-grid--sinai">
      <div class="home-page-grid__row">
        <div class="grid__img-wrapper--sinai"></div>
        <div class="grid__content-wrapper--sinai">
          <h3 class="grid-title--sinai">Manuscripts</h3>
          <p class="grid-text--sinai">Explore the Arabic and Syriac manuscripts of St. Catherine’s Monastery of the Sinai.</p>
          <a href="/catalog?utf8=✓&q=&search_field=all_fields" class="grid-link--sinai">View the Sinai Manuscripts</a>
        </>
      </div>
  </div>
</div>
