<div class='content-container--homepage'>
  <%= render 'lead_text' %>
  <%= render 'shared/sitelinks_search_box' %>
  <div class='facets-grid-wrapper'>
      <%= render 'facets' %>
    <div class='collection-grid'>
      <h2 class='collection-grid__title'>Featured Collections</h2>
      <%= render 'image_grid' %>
    </div>
  </div>
</div>
