<div class='row collection-grid'>
<!-- Grid One  -->
 <a class="grid-wrapper col-12 col-md-6 col-lg-4" href="/catalog/8zn49200zz-89112">
     <div class="grid-image grid-one"></div>
      <div class="grid-content">
        <h3 class="grid-title">Los Angeles Daily News Negatives</h3>
        <hr class="grid-yellow-liner align-item-start">
        <p class="grid-summary">
        Selected news photographs from 1920s, 30s, and 40s.
        </p>
        <p class="grid-btn">More about this collection<i class="fa fa-angle-right fa-1x" aria-hidden="true"></i></p>
      </div>
  </a>
  
  <!-- Grid Two  -->
 <a class="grid-wrapper col-12 col-md-6 col-lg-4" href="/catalog/m8f11000zz-89112">
     <div class="grid-image grid-two"></div>
      <div class="grid-content">
        <h3 class="grid-title">Walter E. Bennett Photographic Collection, 1937-1983</h3>
        <hr class="grid-yellow-liner align-item-start">
        <p class="grid-summary">News photographs related to American Presidents 1960s, 70s, and 80s.</p>
        <p class="grid-btn">More about this collection<i class="fa fa-angle-right fa-1x" aria-hidden="true"></i></p>
      </div>
  </a>
  
  <!-- Grid Three  -->
 <a class="grid-wrapper col-12 col-md-6 col-lg-4" href="/catalog/tpf2h200zz-89112">
     <div class="grid-image grid-three"></div>
      <div class="grid-content">
        <h3 class="grid-title">Will Connell Papers</h3>
        <hr class="grid-yellow-liner align-item-start">
        <p class="grid-summary">Advertising photographs from the 1920s and 30s.</p>
        <p class="grid-btn">More about this collection<i class="fa fa-angle-right fa-1x" aria-hidden="true"></i></p>
      </div>
  </a>
  
  <!-- Grid Four  -->
 <a class="grid-wrapper col-12 col-md-6 col-lg-4" href="/catalog/37sh8000zz-89112">
     <div class="grid-image grid-four"></div>
      <div class="grid-content">
        <h3 class="grid-title">Collection of California Postcards</h3>
        <hr class="grid-yellow-liner align-item-start">
        <p class="grid-summary">Sample postcards from our large physical collection.</p>
        <p class="grid-btn">More about this collection<i class="fa fa-angle-right fa-1x" aria-hidden="true"></i></p>
      </div>
  </a>
  
  <!-- Grid Five  -->
 <a class="grid-wrapper col-12 col-md-6 col-lg-4" href="/catalog/x3xg9000zz-89112">
     <div class="grid-image grid-five"></div>
      <div class="grid-content">
        <h3 class="grid-title">Ethiopic Manuscripts</h3>
        <hr class="grid-yellow-liner align-item-start">
        <p class="grid-summary">A collection of manuscripts from the 16th-20th centuries in Ge’ez and Amharic.</p>
        <p class="grid-btn">More about this collection<i class="fa fa-angle-right fa-1x" aria-hidden="true"></i></p>
      </div>
  </a>
  
  <!-- Grid Six  -->
 <a class="grid-wrapper col-12 col-md-6 col-lg-4" href="/catalog/21czd100zz-89112">
     <div class="grid-image grid-six"></div>
      <div class="grid-content">
        <h3 class="grid-title">Arkatov (James) Collection</h3>
        <hr class="grid-yellow-liner align-item-start">
        <p class="grid-summary">Photographs of jazz musicians performing in Los Angeles.</p>
        <p class="grid-btn">More about this collection<i class="fa fa-angle-right fa-1x" aria-hidden="true"></i></p>
      </div>
  </a>

  <div class="row mt-5 ml-0 ml-sm-1">
  <a href="/catalog?f%5Bhuman_readable_type_sim%5D%5B%5D=Collection" class="btn grid-btn__main rounded-0">See More Collections</a>
 </div>
</div>




