<div class='container-fluid collection-boxes'>
<div class="row">
    <a class='col-md-6 col-lg-4 col-xs-12 col-sm-6 collection-link' href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Los+Angeles+Daily+News+Negatives">
      <div class='collection-box collection-box-one'>
        <h5>Los Angeles Daily News Negatives</h5>
      </div>
    </a>
    <a class="col-md-6 col-lg-4 col-xs-12 col-sm-6 collection-link" href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Bennett+%28Walter+E.%29+Photographic+Collection%2C+1937-1983+%28bulk+1952-1982%29">
      <div class="collection-box collection-box-two">
        <h5>Walter E. Bennett Photographic Collection, 1937-1983</h5>
      </div>
    </a>
    <a class='col-md-6 col-lg-4 col-xs-12 col-sm-6 collection-link' href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Connell+%28Will%29+Papers">
      <div class='collection-box collection-box-three'>
        <h5>Will Connell Papers</h5>
      </div>
    </a>
    <a class="col-md-6 col-lg-4 col-xs-12 col-sm-6 collection-link" href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Collection+of+California+Postcards">
      <div class='collection-box collection-box-four'>
        <div class='spacer'></div>
          <h5>Collection of California Postcards</h5>
        </div>
    </a>
    <a class='col-md-6 col-lg-4 col-xs-12 col-sm-6 collection-link' href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Ethiopic+Manuscripts">
      <div class="collection-box collection-box-five">
        <h5>Ethiopic Manuscripts</h5>
      </div>
    </a>
    <a class='col-md-6 col-lg-4 col-xs-12 col-sm-6 collection-link' href="/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Arkatov+%28James%29+Collection">
      <div class="collection-box collection-box-six">
        <h5>Arkatov (James) Collection</h5>
      </div>
    </a>
    </div>
</div>
