<!-- First row -->
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail no-border">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=People">
        <img src="<%= image_url('chavez.jpg') %>" alt="Carlos Chávez, portrait" Style="border: 1px solid #ddd; width:100%"/>
      </a>
      <div class="caption">
        <a href="/catalog/br7004k7bh-03031">Carlos Chávez, portrait</a>
      </div>
    </div>
    <div class="post-content">
      People
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail no-border">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Events">
        <img src="<%= image_url('swan.jpg') %>" alt="Swan float in the Tournament of Roses Parade, Pasadena, 1938" style="border: 1px solid #ddd; width:100%" />
      </a>
      <div class="caption">
        <a href="/catalog/20rg5200zz-89112">Swan float in the Tournament of Roses Parade, Pasadena, 1938</a>
      </div>
    </div>
    <div class="post-content">
      Events
    </div>
  </div>
</div>

<!-- Second row -->
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail no-border">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Disaster">
        <img src="<%= image_url('tombstone.jpg') %>" alt="A slab of the St. Francis Dam visible after its disastrous 1928 collapse" style="border: 1px solid #ddd; width:100%"/>
      </a>
      <div class="caption">
        <a href="/catalog/shz35200zz-89112">Side view "The Tombstone", a slab of the St. Francis Dam visible after its disastrous 1928 collapse.</a>
      </div>
    </div>
    <div class="post-content">
      Disasters
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail no-border">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Government">
        <img src="<%= image_url('primary.jpg') %>" alt="Corridor filled with men and women tabulating ballots for California primary election in Los Angeles, Calif., 1954" style="border: 1px solid #ddd; width:100%"/>
      </a>
      <div class="caption">
        <a href="/catalog/20rg5200zz-89112">Corridor filled with men and women tabulating ballots for California primary election in Los Angeles, Calif., 1954</a>
      </div>
    </div>
    <div class="post-content">
      Government
    </div>
  </div>
</div>
