<!-- First row -->
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=People">
	<img src="/assets/chavez.jpg" alt="Carlos Chávez, portrait" Style="width:100%"/>
	<div class="caption">
	  <p>Carlos Chávez, portrait</p>
	</div>
      </a>
    </div>
    <div class="post-content">
      People
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Events">
	<img src="/assets/swan.jpg" alt="Swan float in the Tournament of Roses Parade, Pasadena, 1938" style="width:100%" />
	<div class="caption">
	  <p>Swan float in the Tournament of Roses Parade, Pasadena, 1938</p>
	</div>
      </a>
    </div>
    <div class="post-content">
      Events
    </div>
  </div>
</div>

<!-- Second row -->
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Disaster">
	<img src="/assets/tombstone.jpg" alt="Lights" style="width:100%"/>
	<div class="caption">
	  <p>Side view "The Tombstone", a slab of the St. Francis Dam visible after its disastrous 1928 collapse.</p>
	</div>
      </a>
    </div>
    <div class="post-content">
      Disaster
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/catalog?f%5Bsubject_sim%5D%5B%5D=Government">
	<img src="/assets/primary.jpg" alt="Lights" style="width:100%"/>
	<div class="caption">
	  <p>Corridor filled with men and women tabulating ballots for California primary election in Los Angeles, Calif., 1954</p>
	</div>
      </a>
    </div>
    <div class="post-content">
      Government
    </div>
  </div>
</div>

