<%# SINAI ONLY %>

<% doc_presenter = index_presenter(document) %>
<% sinai_index_date = Ursus::SinaiIndexDatePresenter.new(document: doc_presenter.fields_to_render).sinai_index_date_terms %>

<% if sinai_index_date.length > 0 %>
  <% sinai_index_date.each do |field_name, field| -%>
    <!-- VALUE -->
    <div class='metadata-value-index--sinai'>
      <%= doc_presenter.field_value field %>
    </div>
  <% end %>
<% end %>
