<div class="document col-6 col-sm-6 col-md-6 col-lg-4">
  <div class="thumbnail">
    <%= render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
    <div class="caption">
      <%= render_document_partials document, blacklight_config.view_config(:gallery).partials, :document_counter => document_counter %>
    </div>
  </div>
</div>

<% if document_counter + 1 == current_per_page and @response.total != current_per_page %>
  <div class='document col-6 col-sm-6 col-md-6 col-lg-4 extra-result-see-more'>
    <% current_next_page = @response.next_page.to_s %>
    <%= page_parameters = params.merge(:only_path => false, page: current_next_page) %>
    <% page_params = page_parameters['page'] %>
    <% per_page_params = page_parameters['per_page'] || 10 %>
    <% q_params = page_parameters['q'] %>
    <% search_field_params = page_parameters['search_field'] %>
    <%= link_to "See More >", "/catalog?page=#{page_params}&per_page=#{per_page_params}&q=#{q_params}&search_field=#{search_field_params}" %>
  </div>
<% end %>
