<% if current_page?(root_path) %>

    <div class='header-image-block jumbotron jumbotron-fluid mb-0'>
      <%= render 'ucla_home_rectangle' %>
      <span class="header-image-caption">
      Ribbon cutting for opening of Sears, Roebuck & Co. store in San Fernando Valley, Calif., 1951
     </span>
    </div>

    <div class="container">
 <div class="row pt-4 pt-sm-5">
  <div class="col-12 home-page-lead">
   <p class="mb-0">The UCLA Library Digital Collections includes rare and unique digital materials developed by the UCLA Library to support education, research, service, and creative expression. This website is our new interface for discovery and engagement of these collections.</p>
    <hr class="static-page">
</div>
 </div>

</div>

<% end %>
