<% if current_page?(root_path) %>
  <div class='header-image-block'>
    <div class='header-image-block jumbotron jumbotron-fluid'>
      <div class='container'>
      </div>
      <%= render 'ucla_home_rectangle' %>
    </div>
    <p class='header-image-block'>
      <a class='header-image-block' href='/catalog/x2gp2000zz-89112'>Elephants from Cole Brothers Circus crossing Olive Street with police escort in Los Angeles, Calif., 1953</a><br>Collection: <a class='header-image-block' href='/catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=Los+Angeles+Daily+News+Negatives'>Los Angeles Daily News Negatives</a>
    </p>
  </div>
<% end %>
