<% if can?(:read, document) %>

<div class='media-viewer-container'>
  <div class='media-viewer'>
    <% iiif_service = IiifService.new %>
    <iframe
        class='media-viewer-iframe'
        src=<%= iiif_service.src(request, document) %>
        width='924px'
        height='668px'
        id='media-viewer-iframe'
        allowfullscreen
        frameborder='0'>
    </iframe>
  </div>
</div>

<% end %>
