<% if can?(:read, document) %>
  <div class='media-viewer-container'>
    <% iiif_service = IiifService.new %>
    <iframe
      class='media-viewer-iframe'
      src="<%= iiif_service.src(request, document) %>"
      width='924px'
      height='668px'
      id='media-viewer-iframe'
      allowfullscreen
      frameborder='0'>
    </iframe>
  </div>

  <div class="players" id="player1-container">
    <div class="media-wrapper">
      <video src="https://p-w-dl-viewer01.library.ucla.edu/da80f405-edda-48cf-9735-3c6c47e70892" width='924px'height='668px'
      class="mejs__player"
      poster="https://static.library.ucla.edu/video_icon.svg"
     data-mejsoptions='{"alwaysShowControls": "true", features:   ['playpause','progress','volume','fullscreen', 'poster']}'>
      </video>
    </div>
  </div>
<% end %>