<% doc_presenter = show_presenter(document) %>
<% note = Ursus::NoteMetadataPresenter.new(document: doc_presenter.fields_to_render).note_terms %>

<% if note.length > 0 %>
    <hr>
    <h5>Notes</h5>
    <dl class='row document-metadata'>
      <% note.each do |field_name, field| -%>
        <dt class="blacklight-<%= field_name.parameterize %> col-12 col-sm-4 item-label">
          <%= (render_document_show_field_label document, field: field_name).tr(':','') %>
          <dd class="blacklight-<%= field_name.parameterize %> col-12 col-sm-8 item-value">
            <%= doc_presenter.field_value field %>
          </dd>
        </dt>
      <% end %>
    </dl>
<% end %>
