<div class="row">
  <div class="col-md-12 old-collections-link">
    Not finding what you're looking for? More items may be available on our <a href="http://digital2.library.ucla.edu/">original digital collections site</a>.
  </div>
</div>
