<div class='primary-metadata'>
  <%= render 'item_overview_metadata', { document: document } %>
  <%= render 'note_metadata', { document: document } %>
  <%= render 'physical_description_metadata', { document: document } %>
  <%= render 'keyword_metadata', { document: document } %>
</div>
