<div class='primary-metadata'>
  <%= render 'overview_metadata', { document: document } %>
  <%= render 'provenance_metadata', { document: document } %>
  <%= render 'subject_metadata', { document: document } %>
  <%= render 'materials_metadata', { document: document } %>
</div>
