<!-- SINAI -->
  <% if Flipflop.sinai? %>
  <% if show_pagination? and @response.total_pages > 1 %>
    <div class='pagination-block pagination-block--siani'>
      <%= render 'search_header' %>
    </div>
    <hr class='divider'>
  <% end %>

<!-- URSUS -->
<% else %>
  <% if show_pagination? and @response.total_pages > 1 %>
    <div class='pagination-block'>
      <%= render 'search_header' %>
    </div>
    <hr class='divider'>
  <% end %>
<% end %>
