<!--<div class='container-fluid'> -->
  <div class='row item-page-wrapper'>
    <div class='col-md-12 col-lg-7'>
      <%= render 'primary_metadata', { document: document } %>
    </div>
    <div class='col-md-12 col-lg-5'>
      <%= render 'secondary_metadata', { document: document } %>
    </div>
  </div>
<!--</div> -->
