<%#= render blacklight_config.view_config(:show).document_header_component.new(document: @document, search_context: @search_context, search_session: search_session) %>
<% @page_title = t('blacklight.search.show.title', document_title: document_presenter(@document).html_title, application_name: application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<% document_component = blacklight_config.view_config(:show).document_component -%>

<div id='document' class="item-page__content-wrapper document <%= render_document_class %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
  </div>
  <% if @document[:member_of_collections_ssim] && @document[:member_of_collection_ids_ssim] %>
    <% @document[:member_of_collections_ssim].each_with_index do | member, index | %>
      <link itemprop="isPartOf" itemscope itemtype="http://schema.org/Collection" itemid="<%= request.base_url + solr_document_path(@document[:member_of_collection_ids_ssim][index]) %>">
    <% end %>
  <% end %>
</div>
