<!--
<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12 col-md-7 col-lg-6 col-xl-8'>
    </div>
    <div class='col-sm-12 col-md-5 col-lg-6 col-xl'>
       <%#= render 'show_tools', class: 'citation-link' %>
    </div>
</div>-->
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-7'>
      <%= render 'primary_metadata', { document: document }  %>
    </div>
    <div class='col-md-5'>

      <%= render 'secondary_metadata', { document: document } %>
    </div>
  </div>
</div>
