<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>
<h3 class='item-heading'>About This Item</h3>
<dl class='row document-metadata'>
  <% doc_presenter.fields_to_render.each do |field_name, field| -%>
    <dt class="blacklight-<%= field_name.parameterize %> col-md-6 item-label"><%= render_document_show_field_label document, field: field_name %><dd class="blacklight-<%= field_name.parameterize %> col-md-9 item-value"><%= doc_presenter.field_value field %></dd></dt>
  <% end -%>
</dl>
