<div class='item-page__metadata-wrapper'>
  <%= render 'catalog/work_record--ursus/primary_metadata', document: document %>
  <%= render 'catalog/work_record--ursus/secondary_metadata', document: document %>
</div>

<!-- <script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script> -->
