<%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
  <div class="document-thumbnail">
    <% require 'thumbnail_url_service' %>
    <% thumbnail_service = ::ThumbnailUrlService.new(html: tn, url: Rails.application.config.thumbnail_url) %>
    <%= raw(thumbnail_service.markup_with_full_url)  %>
  </div>
<%- end %>
