<% if Flipflop.sinai? %>
  <div class='ucla-rectangle'>
    <h1>Sinai Manuscripts</h1>
<% else %>
  <div class='ucla-rectangle'>
    <h1>UCLA&nbsp;LIBRARY DIGITAL&nbsp;COLLECTIONS</h1>
    <!-- <h1><%= t('blacklight.application_name') %></h1> -->
    <p>The <span>UCLA Library Digital Collections</span> includes rare and unique digital materials developed by the UCLA Library to support education, research, service, and creative expression. This website is our new interface for discovery and engagement of these collections.</p>
  </div>
<% end %>