<% unless has_search_parameters? %>
  <%# if there are no input/search related params,
            display the "home" partial -%>
  <%= render 'home' %>

<% else %>
  <div class='content-container--index-page'>
    <%= render 'facets' %>
    <%= render 'search_results' %>
  </div>
<% end %>

<!-- add Title/Shelfmark Sort -->
<script type="text/javascript">
  var urlFacet = window.location.search;
  if ( urlFacet.indexOf("catalog?sort=" ) !== -1){
    window.history.replaceState('page2', 'Title', '/catalog');
  } else if ( ((urlFacet.indexOf("&q=&") !== -1) || (urlFacet.indexOf("%5B%5D=") !== -1)) && ((urlFacet.indexOf("[member_of_collections_") !== -1) || ((urlFacet.indexOf("&sort=") == -1) && (urlFacet != "?utf8=%E2%9C%93&q=&search_field=all_fields"))) ) {
    <% if Flipflop.sinai? %>
      var titleSortUrl = urlFacet+"&sort=shelfmark_alpha_numeric_ssort+asc";
    <% else %>
      var titleSortUrl = urlFacet+"&sort=title_alpha_numeric_ssort+asc";
    <% end %>
      window.location = titleSortUrl;
  }
</script>
