.lede__row {
  @extend .col-12;

  margin-bottom: 2rem;
}

.lede__text--homepage {
  padding-bottom: 2rem;
  font-size: $text-24;
  font-weight: $font-light;

  @media (max-width: 767px) {
    font-size: $text-20;
  }
}
