<div class="container-full container-full--navbar site-navbar site-navbar--ursus">
  <nav class="navbar navbar-expand-lg navbar-dark site-navbar__wrapper site-navbar__wrapper--ursus" role="navigation">
    <div class="site-navbar__logo-block">
      <%= link_to(image_tag('logo/ucla-library-digital-collections_logo.svg',
                            class: 'site-navbar__logo',
                            alt: 'UCLA Library Digital Collections Logo'),
                  root_path) %>
    </div>
    <button
      class="navbar-toggler navbar-toggler-icon--ursus"
      type="button"
      data-toggle="collapse"
      data-target="#user-util-collapse"
      aria-controls="user-util-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="user-util-collapse">
      <ul class="navbar-nav nav ml-auto">
        <li class='site-navbar__item site-navbar__item--ursus'><%= link_to 'Using Digital Collections Content', '/iiif_guide', class: 'site-navbar__item-link site-navbar__item-link--ursus' %></li>
        <li class="site-navbar__item site-navbar__item--ursus">
          <a class='site-navbar__item-link site-navbar__item-link--ursus' href="/ursus_about">About</a>
        </li>
        <li class="site-navbar__item site-navbar__item--ursus">
          <a class='site-navbar__item-link site-navbar__item-link--ursus'
            href="https://forms.gle/x2BV9dJMK241VsAJA"
            target="_blank"
            rel="noopener"
            data-cy='nav-feedback'>
            Give Us Feedback
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-full site-searchbar site-searchbar--ursus" role="search">
  <%= search_bar %>
</div>
