.static-page__image--ursus {
  margin-left: 50px;
}

.static-page__row--ursus {
  @extend .row;
}

.static-page__text--ursus {
  @extend .col-lg-8;
}

.static-page__list--ursus {
  @media (max-width: 991px) {
    font-size: $text-16;
  }
}

.static-page__subtitle--ursus {
  font-size: $text-20;
  letter-spacing: 0.15rem;

  @media (max-width: 991px) {
    margin-bottom: 1rem;
  }
}

.static-page__title--ursus {
  font-size: $text-36;
  font-weight: $font-bold;

  @media (max-width: 767px) {
    font-size: calc(80% + 0.875rem);
  }
}

.static-page__iiif-guide_code_blue--ursus {
  color: #00f;
}

.static-page__iiif-guide_code_red--ursus {
  color: #f00;
}

.static-page__iiif-guide_code_blueviolet--ursus {
  color: #8a2be2;
}

.static-page__iiif-guide_code_forestgreen--ursus {
  color: #228b22;
}

.static-page__iiif-guide_code_goldenrod--ursus {
  color: #daa520;
}

.static-page__iiif-guide_code_hotpink--ursus {
  color: #ff69b4;
}

.static-page__iiif-guide_code_coral--ursus {
  color: #ff7f50;
}

.static-page__iiif-guide_code_dodgerblue--ursus {
  color: #1e90ff;
}
