.item-page__secondary-metadata {
  @extend .col-lg-5;

  align-self: baseline;
   background-color: $ucla-lightest-blue;
}

.item-page__secondary-metadata-block--ursus {
  align-self: baseline;
  padding: 30px 10px 0 15px;

  background-color: $ucla-lightest-blue;
}


.item-page__pagination-widgets--ursus {
  .previous {
    color: $ucla-darker-blue;

    &:hover {
      color: $ucla-blue;
    }

    &:not(a) {
      color: $gray-60;
    }
  }

  .next {
    color: $ucla-darker-blue;

    &:hover {
      color: $ucla-blue;
    }
  }
}
