/* Add your CSS styles here */
.stgall-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.stgall-work-title,
.stgall-transcription-title {
  font-weight: bold;
  font-style: italic;
}

.stgall-subnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.stgall-subnav-item {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}

// .stgall-subnav-item:hover {
//     background-color: #e0e0e0;
// }

.stagll-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}

.stgall-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stgall-work-item-bibliography,
.stgall-work-item-content,
.stgall-work-item-transcription {
  padding: 1rem;
  margin-top: -0.5rem;
  background-color: $ucla-lightest-blue-2;
}

.stgall-work-item-bibliography .WorkBibiliography {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;

  li {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.stgall-contents {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.toggleDivWorkItem .stgall-work-title {
  margin-bottom: 16px;
  font-size: 16px;
}

.toggleDivWorkItem .stgall-contents {
  flex-direction: column;

  justify-content: flex-start;
  gap: 16px;

  br {
    display: none;
  }

  .stgall-work-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:not(:last-child) {
      border-bottom: 1px dotted $ucla-blue;
      padding-bottom: 1rem;
    }

    .stgall-work-item-heading {
      display: flex;
      gap: 8px;
      font-weight: bold;
    }

    h4 {
      margin: 1rem 0;
      font-size: 14px;
      font-weight: bold;
    }

    .stgall-work-item-bibliography {
      padding: 0;
    }

    .WorkBibiliography {
      display: flex;
      flex-direction: column;
      gap: 16px;
      list-style-type: none;
      font-size: 12px;

      li {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}

.stgall-transcription-source {
  font-size: 14px;
}

.stgall-work-item-bibliography .WorkBibliography {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;

  li {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}


.stgall-sub-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  a,
  button {
    background-color: $ucla-lightest-blue-2;
    color: $ucla-darkest-blue;
    line-height: 1;
    margin: 0.5rem 0 0.5rem;
    padding: 0.7rem 1rem;
    border: none;
  }
}

.stgall-work-item-content {}

.stgall-work-item-bibliography {}

.stgall-work-item-transcription {}

/*.manuscript-bibliography {

    }
    .manuscript-description{

    }
    .toggleDiv {
    display: none;
    }*/
.toggleDivWorkItem {
  display: none;
}

.stgall-manuscript-contents {
  display: flex;
}

/* Add more styles as needed */