.static-page__image--ursus {
  margin-left: 50px;
}

.static-page__row--ursus {
  @extend .row;
}

.static-page__subtitle--ursus {
  @extend .col-lg-4;
}

.static-page__text--ursus {
  @extend .col-lg-8;
}

.static-page__list--ursus {
  @media (max-width: 991px) {
    font-size: $text-16;
  }
}

.static-page__iiif-guide_code_blue--ursus {
  color: #00F;
}

.static-page__iiif-guide_code_red--ursus {
  color:#F00;
}

.static-page__iiif-guide_code_blueviolet--ursus {
  color: #8A2BE2;
}

.static-page__iiif-guide_code_forestgreen--ursus {
  color: #228B22;
}

.static-page__iiif-guide_code_goldenrod--ursus {
  color: #DAA520;
}

.static-page__iiif-guide_code_hotpink--ursus {
  color: #FF69B4;
}

.static-page__iiif-guide_code_coral--ursus {
  color: #FF7F50;
}

.static-page__iiif-guide_code_dodgerblue--ursus {
  color: #1E90FF;
}
