<nav class='navbar navbar-expand-lg navbar-dark authn-navbar' role='navigation'>
  <div class='container-fluid'>
    <div class='test'>
      <%= link_to(image_tag('sinai/logo-uclalib-blk.svg', class: 'navbar-logo', alt: 'UCLA Library Logo'), 'https://www.library.ucla.edu/') %>
    </div>
  </div>
</nav>



<main class="authn-page">
  <div class="image-block"></div>
  
  <div class="overlay-block">
    <h2>SINAI MANUSCRIPTS DIGITAL&nbsp;LIBRARY</h2>
    <p>A Publication of St. Catherine's Monastery of the Sinai, Egypt</p>
    
<%= button_to 'Access the Sinai Collection', ENV['SINAIID_URL'], params: {'key' => ENV['SINAIID_UCLA_KEY'], callback_url: "#{@requested_path}", token: @token}, method: :post, class:'sinai-registration-btn wiggle' %>
  </div>

  <div class="text-block">
    <p>Explore the Arabic and Syriac manuscripts of St. Catherine’s Monastery of the Sinai. Widely recognized as the world’s oldest continually operating library, St. Catherine’s holdings represent an unparalleled resource to study the history and literature of the Eastern Mediterranean from late antiquity until early modernity.</p>
  </div>
</main>
