.btn-sinai--red {
  color: $white;
  background-color: $sinai-red;
  border-color: $sinai-red;
}

.btn-sinai--red:hover {
  color: $white;
  border-color: $sinai-red;
  opacity: 0.9;
}

.btn-outline-sinai--red {
  color: $gray-80;
  border-color: $sinai-red;
}

.btn-outline-sinai--red:hover {
  color: $white;
  background-color: $sinai-red;
  border-color: $sinai-red;
}

.btn-base--base--sinai {
  color: $sinai-red;
  background-color: $white;
  border-color: $sinai-red;

  &:visited {
    color: $sinai-red;
    background-color: $white;
    border-color: $sinai-red;
  }

  &:hover {
    color: $white;
    background-color: $sinai-red;
  }
}
