.btn-outline-sinai--light {
  background-color: $white;
  border-color: $gray-10;

  &:hover {
    color: $white;
    background-color: $sinai-primary;
  }

  @media (max-width: 499px) {
    font-size: $text-14;
  }
}

.btn-outline-sinai--light:not(:disabled):not(.disabled).active {
  color: $white;
  background-color: $sinai-primary;
  border-color: $sinai-primary;

  .blacklight-icons svg g,
  .blacklight-icons svg path {
    stroke: $white;
  }
}

.btn-outline-sinai--primary {
  color: $gray-80;
  border-color: $sinai-primary;
}

.btn-outline-sinai--primary:hover {
  color: $white;
  background-color: $sinai-primary;
  border-color: $sinai-primary;

  .blacklight-icons svg g,
  .blacklight-icons svg path {
    stroke: $white;
  }
}

// .btn-outline-sinai--primary:not(:disabled):not(.disabled).active {
//   color: $white;
//   background-color: $sinai-primary;
//   border-color: $sinai-primary;

//   .blacklight-icons svg g,
//   .blacklight-icons svg path {
//     stroke: $white;
//   }
// }

.btn-outline-sinai--white {
  color: $white;
  border-color: $white;

  &:hover {
    color: $white;
    background-color: transparent;
  }
}

.btn_nav_link--sinai {
  padding-top: 0;
  padding-left: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

.btn-base-link--sinai {
  color: $gray-60;
  
  &:hover {
    background-color: transparent;
  }
  
}
