@import "base/global/colors";
@import "si-colors";

.si-link {
  color: $sinai-red;
}
.si-link:hover {
  color: $sinai-red-light;
}
.si-link--dark {
  color: $gray-80;
}
.si-link--dark:hover {
  color: $sinai-red;
}