.si-link {
  color: $sinai-primary;

  &:visited {
    color: $sinai-primary;
  }
}

.si-link--dark {
  color: $gray-80;
}

.si-link--dark:hover {
  color: $sinai-primary;
}

.si-link--light,
.si-link--light:visited,
.si-link--light:hover,
.si-link--light:active {
  color: $white;
}
