.si-link {
  color: $sinai-orange;

  &:visited {
    color: $sinai-orange;
  }
}

/*.si-link:hover {
  color: $sinai-lighter-red;
}*/

.si-link--dark {
  color: $gray-80;
}

.si-link--dark:hover {
  color: $sinai-orange;
}

.si-link--light,
.si-link--light:visited,
.si-link--light:hover,
.si-link--light:active {
  color: $white;
}
