<% doc_presenter = show_presenter(document) %>
<% keyword = Ursus::KeywordMetadataPresenter.new(document: doc_presenter.fields_to_render).keyword_terms %>

<% if keyword.length > 0 %>
  <h2>Keywords</h2>
  <% keyword.each do |field_name, field| %>
    <div class='row document-metadata'>
      <div class="blacklight-<%= field_name.parameterize %> col-12 col-sm-4 document-metadata-label">
        <%= (render_document_show_field_label document, field: field_name).tr(':','') %> 
      </div>
      <div class="blacklight-<%= field_name.parameterize %> col-12 col-sm-8 document-metadata-value">
        <%= doc_presenter.field_value field %> 
      </div>
    </div>
  <% end %>
  <hr>
<% end %>
