.alert-bar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $gray-10;

  @media (max-width: 575px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.alert-bar__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: $text-14;
}

.alert-bar__text {
  font-weight: 700;
  flex-basis: 90%;

  @media (max-width: 767px) {
    flex-basis: 80%;
  }
}

.alert-bar__close {
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  .fa-close {
    margin-right: 0;
    padding-left: 0.5rem;
    color: $gray-80;
  }
}
