<ul class="navbar-nav navbar-right nav">
  <li class="nav-item"><a class="nav-link" href="http://www.library.ucla.edu">UCLA Library</a></li>
  <li class="nav-item"><a class="nav-link" href="http://digital2.library.ucla.edus">UCLA Library Digital Collections</a></li>
</ul>
