footer {
  padding: 20px;
  margin-top: 100px;
  background-color: $callisto-beige;
  max-width: 1440px;

  .primary-footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .logo-wrapper {
      flex: 0 0 19%;
    }

    .logo-wrapper:nth-child(2) {
      mix-blend-mode: multiply;
    }

    .footer-logo {
      height: 100px;
      object-fit: contain;
      object-position: center;
    }
  }
}

//----------------------------------------

.secondary-footer-wrapper {
  display: flex;
  max-width: 1440px;
  width: 100%;
  font-family: Helvetica;
  font-size: 16px;
  background-color: $callisto-drk-beige;
  padding: 30px 0 30px 20px;

  .footer-links {
    a {
      color: black !important;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.2rem;
      padding-right: 40px;
    }
    a:hover {
      color: $callisto-drk-red !important;
      text-decoration: none;
    }
    ul {
      display: flex;
      align-items: stretch; /* Default */
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    li {
      display: block;
      flex: 0 1 auto; /* Default */
      list-style-type: none;
    }
  }
}

//----------------------------------------

.copyright {
  background-color: $callisto-drk-red;
  width: 100%;
  height: 40px;

  .uc-regents {
    color: $white;
    font-size: 0.75em;
    text-align: left;
    margin-left: 0px;
    padding-top: 12px;
    padding-left: 20px;
  }
}

//----------------------------------------

@media (max-width: 992px) {
  footer {
    .primary-footer-wrapper {
      flex-wrap: wrap;
    }
  }

  .secondary-footer-wrapper {
    padding: 30px 0 10px 20px;

    .footer-links {
      ul {
        padding: 0;
        display: inline;

        li {
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .primary-footer-wrapper {
      .logo-wrapper {
        flex: 0 0 33%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
