.sinai-homepage-masthead {
  background-image: image-url("sinai/inner-homepage-masthead-syr0127_0009_f_004r.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
  max-height: 400px;
}
