@import "ursus/colors";

.sinai-site-navbar {
  background-color: $white !important;
  font-family: Helvetica, sans-serif;

  .navbar-logo-block {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }

  .sinai-subtitle {
    padding: 0rem 1rem;
    font-size: 1.125rem;
  }

  .sinai-navbar-logo a {
    padding: 0rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $gray-80 !important;
    line-height: 29px;

    &:hover {
      color: $callisto-drk-red !important;
      text-decoration: none;
    }
  }

  .nav-item a {
    color: $gray-80 !important;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05rem;
    margin-right: 2rem;
    text-decoration: none;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      right: 100%;
      border-bottom: 0.125rem solid $callisto-drk-red;
      -webkit-transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
      transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
    }
    &:hover {
      color: $callisto-drk-red !important;
    }
    &:hover::after {
      right: 0%;
    }
  }
}

@media (max-width: 991px) {
  .sinai-site-navbar {
    padding: 0 !important;
    .navbar-logo-block {
      height: 45px;
      padding: 2rem 1rem;
    }

    .navbar-toggler {
      padding: 0rem 2rem 0rem 0rem;
    }

    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 0, 32, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-nav.nav {
      background-color: $callisto-beige;
      width: 100%;
      padding: 1rem 1rem;
      &:hover {
        background-color: $callisto-drk-beige;
      }
    }

    .navbar-collapse {
      background: $white;
    }

    .nav-item a {
      margin-right: 0;
      &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 0;
        -webkit-transition: none;
        transition: none;
      }
      &:hover {
        color: $callisto-drk-red !important;
        text-decoration: underline;
      }
      &:hover::after {
        right: 0%;
      }
    }
  }
}

@media (max-width: 576px) {
  .sinai-site-navbar {
    .sinai-subtitle {
      font-size: 0.96rem;
    }
    .sinai-navbar-logo a {
      font-size: 1.15rem;
      font-weight: 600;
    }
    .navbar-logo {
      width: 250px !important;
    }
    .navbar-logo-block {
      padding: 0rem 1rem;
      flex-direction: column;
      justify-content: unset;
      align-items: flex-start;
      height: 80px;
    }

  }
}

@media (max-width: 374px) {
  .sinai-site-navbar {
    .sinai-subtitle {
      font-size: 0.75rem;
    }
    .sinai-navbar-logo a {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .navbar-logo-block {
      padding: 0rem 1rem;
      flex-direction: column;
      justify-content: unset;
      align-items: flex-start;
      height: 70px;
    }
    .navbar-nav.nav {
      padding: 0.85rem;
    }
  }
}
