.banner--collection-page {
  @include banner;

  height: 400px;

  @media (max-width: 575px) {
    height: 450px;
  }
}

.banner__overlay--collection {
  @include banner-overlay;
}

.banner__title--collection {
  font-size: $text-36;
  color: $white;

  @media (max-width: 767px) {
    font-size: calc(100% + 0.875rem);
  }

  @media (max-width: 575px) {
    font-size: calc(100% + 0.625rem);
  }
}

.banner__collection-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  @media (max-width: 575px) {
    display: block;
  }
}

.banner__collection-count {
  font-size: $text-20;
  color: $ucla-gold;
  font-style: italic;

  @media (max-width: 767px) {
    margin-bottom: 0.5rem;
  }
}

.banner__overlay-btn-text {
  font-size: $text-16;
}
